<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
  <% } else { %>
    <!-- Include regular header -->
    <%- include('header') %>
  <% } %>  
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a href="/.html">
                            <img src="assets/images/logo/logo.png" alt="GlobaMedAcademy
                            ">
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <p class="description">Welcome to GlobalMed Academy</p>
                <ul class="navbar-top-left rbt-information-list justify-content-start">
                    <li>
                        <a href="mailto:info@globalmedacademy.com"><i class="feather-mail"></i>info@gobalmedacademy.com</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li class="">
                        <a href="#">Home<i class="feather-eye"></i></a>
                        <!-- Start Mega Menu  -->
                        
                    </li>

                    <li class="">
                        <a href="/course-masonry">Courses<i class=""></i></a>
                        <!-- Start Mega Menu  -->

                        <!-- End Mega Menu  -->
                    </li>

                    <li class="">
                        <a href="/login">Sign-Up
                            <i class="feather-chevron-down"></i>
                        </a>
                    </li>

                    <li class="">
                        <a href="/loginn">Login<i class="feather-chevron-down"></i></a>
                        <!-- Start Mega Menu  -->
                        <!-- End Mega Menu  -->
                    </li>
                </ul>
            </nav>

            <div class="mobile-menu-bottom">
                <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="#">
                        <span>Enroll Now</span>
                    </a>
                </div>

                <div class="social-share-wrapper">
                    <span class="rbt-short-title d-block">Find With Us</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li><a href="https://www.facebook.com/GlobalMedAcademyGlobalMedAcademy">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://twitter.com/GMEdAcademy">
                                <i class="feather-twitter"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/globalmedacademy/globalmedacademy/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/globalmedacademy">
                                <i class="feather-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- Start Side Vav
    <div class="rbt-cart-side-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="title">
                        <h4 class="title mb--0">Your shopping cart</h4>
                    </div>
                    <div class="rbt-btn-close" id="btn_sideNavClose">
                        <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
            </div>
            <nav class="side-nav w-100">
                <ul class="rbt-minicart-wrapper">
                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="assets/images/product/1.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Miracle Morning</a></h6>

                            <span class="quantity">1 * <span class="price">$22</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="assets/images/product/7.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Happy Strong</a></h6>

                            <span class="quantity">1 * <span class="price">$30</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="assets/images/product/3.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Rich Dad Poor Dad</a></h6>

                            <span class="quantity">1 * <span class="price">$50</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="assets/images/product/4.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Momentum Theorem</a></h6>

                            <span class="quantity">1 * <span class="price">$50</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="rbt-minicart-footer">
                <hr class="mb--0">
                <div class="rbt-cart-subttotal">
                    <p class="subtotal"><strong>Subtotal:</strong></p>
                    <p class="price">$121</p>
                </div>
                <hr class="mb--0">
                <div class="rbt-minicart-bottom mt--20">
                    <div class="view-cart-btn">
                        <a class="rbt-btn btn-border icon-hover w-100 text-center" href="#">
                            <span class="btn-text">View Cart</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="checkout-btn mt--20">
                        <a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="#">
                            <span class="btn-text">Checkout</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start Banner Area  -->
    <div class="slider-area rbt-banner-10 height-750 bg_image bg_image--11" data-black-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title mb--20">
                            <span class="subtitle bg-coral-opacity">We are the best</span>
                        </div>
                        <h1 class="title display-one text-white">Best Medical Course Website<br></h1>
                        <div class="read-more-btn mt--40">
                            <!-- <a class="rbt-btn btn-gradient hover-icon-reverse" href="/login">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Join us now</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area  -->

    <!-- Start About Area  -->
    <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="assets/images/about/about-07.jpg" alt="Education Images">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax='{"x": 0, "y": 60}' src="assets/images/about/about-09.jpg" alt="Education Images">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax='{"x": 0, "y": 80}' src="assets/images/about/about-08.jpg" alt="Education Images">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_sm--0 pl_md--0">
                        <div class="section-title text-start">
                            <span class="subtitle bg-coral-opacity">Know About Us</span>
                            <h2 class="title">Know About<br />GlobalMed Academy</h2>
                        </div>
                        <p class="description mt--30">GlobalMedAcademy is a cutting-edge Medical Ed-tech organization that provides specialized courses for medical graduates through hybrid learning approach</p>
                        <!-- Start Feature List  -->
                        <div class="rbt-feature-wrapper mt--40">

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-pink-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Expertly Designed Programs</h6>
                                    <p class="feature-description">GlobalMedAcademy (GMA) offers courses created by renowned medical scholars, integrating their practical and theoretical expertise into the curriculum.</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-primary-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Blending Theory and Practice</h6>
                                    <p class="feature-description">GlobalMed Academy's programs combine theoretical knowledge with practical applications, providing a comprehensive learning experience for students</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-coral-opacity">
                                    <i class="feather-monitor"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Immersive Technology</h6>
                                    <p class="feature-description">With state-of-the-art technology, GlobalMed Academy ensures an engaging and effective learning journey, preparing students for real-world medical challenges</p>
                                </div>
                            </div>
                        </div>

                        <!-- End Feature List  -->
                        <div class="about-btn mt--40">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                            <span class="btn-text">More About Us</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Button Area  -->
    <!-- <div class="rbt-video-area rbt-section-gapBottom pt--50 bg-color-white">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="inner pr--50">
                        <div class="section-title text-start">
                            <span class="subtitle bg-primary-opacity">How We Work</span>
                            <h2 class="title">Build your Career And Upgrade Your Life</h2>
                            <p class="description mt--30">Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in
                                Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <div class="read-more-btn">
                                <a class="rbt-moderbt-btn" href="#">
                                    <span class="moderbt-btn-text">Learn More About Us</span>
                                    <i class="feather-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="assets/images/others/video-01.jpg" alt="Video Images">
                        <a class="popup-video position-to-top" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <span><img src="assets/images/icons/youtube.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Button Area  -->
    <a href="https://api.whatsapp.com/send/?phone=919730020462&text&type=phone_number&app_absent=0"  target="" class="whatsapp_float"><img src="assets/images/whatsapp-icon.png" alt=""></a>
    <div class="rbt-testimonial-area bg-color-white pb--80 overflow-hidden">
        <div class="container-fluid">
            <div class="row g-5 align-items-center">
                <div class="col-xl-3">
                    <div class="section-title pl--100 pl_sm--30">
                        <span class="subtitle bg-pink-opacity">Learners Feedback</span>
                        <h2 class="title">What Doctors Say</h2>
                        <p class="description mt--20">Learning with GlobalMed Academy</p>
                        <div class="veiw-more-btn mt--20">
                            <a class="rbt-btn btn-gradient rbt-marquee-btn marquee-text-y" href="https://api.whatsapp.com/send/?phone=919730020462&text&type=phone_number&app_absent=0">
                                <span data-text="Contact Us">Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="overflow-hidden">
                        <div class="scroll-animation-wrapper pt--50 pb--30">
                            <div class="scroll-animation scroll-right-left">

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Martha Maldonado</h5>
                                                    <span>Executive Chairman <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-02.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Michael D. Lovelady</h5>
                                                    <span>CEO <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Histudy education, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-03.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Valerie J. Creasman</h5>
                                                    <span>Executive Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Our educational, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-04.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Hannah R. Sutton</h5>
                                                    <span>Executive Chairman <i>@ Facebook</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">People says about, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->
                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-05.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Pearl B. Hill</h5>
                                                    <span>Chairman SR <i>@ Facebook</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Like this histudy, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-06.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Mandy F. Wood</h5>
                                                    <span>SR Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-07.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Mildred W. Diaz</h5>
                                                    <span>Executive Officer <i>@ Yelp</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-08.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Christopher H. Win</h5>
                                                    <span>Product Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Martha Maldonado</h5>
                                                    <span>Executive Chairman <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->
                            </div>
                        </div>
                        <div class="scroll-animation-wrapper pb--50">
                            <div class="scroll-animation scroll-left-right">

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Martha Maldonado</h5>
                                                    <span>Executive Chairman <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-08.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Christopher H. Win</h5>
                                                    <span>Product Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-07.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Mildred W. Diaz</h5>
                                                    <span>Executive Officer <i>@ Yelp</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-06.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Mandy F. Wood</h5>
                                                    <span>SR Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-05.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Pearl B. Hill</h5>
                                                    <span>Chairman SR <i>@ Facebook</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Like this histudy, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-06.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Mandy F. Wood</h5>
                                                    <span>SR Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-07.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Mildred W. Diaz</h5>
                                                    <span>Executive Officer <i>@ Yelp</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-08.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Christopher H. Win</h5>
                                                    <span>Product Designer <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Martha Maldonado</h5>
                                                    <span>Executive Chairman <i>@ Google</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus
                                                    velit.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title text-center">
                            <span class="subtitle bg-white-opacity">Get Latest Updates</span>
                            <h2 class="title color-white"><strong>Subscribe</strong> Our Newsletter</h2>
                            <p class="description color-white mt--20"></p>
                        </div>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Enter Your E-Email">
                            <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                                <span class="icon-reverse-wrapper">
                            <span class="btn-text">Subscribe</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </form>
                        <span class="note-text color-white mt--20">No ads, No trails, No commitments</span>

                        <div class="row row--15 mt--50">
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <h5 class="title color-white">Successfully Trained</h5>
                                            <span class="subtitle color-white">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->

                            <!-- Start Single Counter -->
                            <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white"><span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <h5 class="title color-white">Certification Students</h5>
                                            <span class="subtitle color-white">Online Course</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
    
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                       
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                       
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>