<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
  <% } else { %>
    <!-- Include regular header -->
    <%- include('header') %>
  <% } %>  
    <!-- Mobile Menu Section -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="logo">
                        <a href="/.html">
                            <img src="assets/images/logo/logo.png" alt="GlobaMedAcademy
                            ">
                        </a>
                    </div>
                    <div class="rbt-btn-close">
                        <button class="close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
                <p class="description">Welcome to GlobalMed Academy</p>
                <ul class="navbar-top-left rbt-information-list justify-content-start">
                    <li>
                        <a href="mailto:info@globalmedacademy.com"><i class="feather-mail"></i>info@gobalmedacademy.com</a>
                    </li>
                </ul>
            </div>

            <nav class="mainmenu-nav">
                <ul class="mainmenu">
                    <li class="">
                        <a href="#">Home<i class="feather-eye"></i></a>
                        <!-- Start Mega Menu  -->
                        
                    </li>

                    <li class="">
                        <a href="/course-masonry">Courses<i class=""></i></a>
                        <!-- Start Mega Menu  -->

                        <!-- End Mega Menu  -->
                    </li>

                    <li class="">
                        <a href="/login">Sign-Up
                            <i class="feather-chevron-down"></i>
                        </a>
                    </li>

                    <li class="">
                        <a href="/loginn">Login<i class="feather-chevron-down"></i></a>
                        <!-- Start Mega Menu  -->
                        <!-- End Mega Menu  -->
                    </li>
                </ul>
            </nav>

            <div class="mobile-menu-bottom">
                <div class="rbt-btn-wrapper mb--20">
                    <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center" href="#">
                        <span>Enroll Now</span>
                    </a>
                </div>

                <div class="social-share-wrapper">
                    <span class="rbt-short-title d-block">Find With Us</span>
                    <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                        <li><a href="https://www.facebook.com/GlobalMedAcademyGlobalMedAcademy">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://twitter.com/GMEdAcademy">
                                <i class="feather-twitter"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/globalmedacademy/globalmedacademy/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/globalmedacademy">
                                <i class="feather-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start About Area  -->
    <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="assets/images/about/about-07.jpg" alt="Education Images">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax='{"x": 0, "y": 60}' src="assets/images/about/about-09.jpg" alt="Education Images">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax='{"x": 0, "y": 80}' src="assets/images/about/about-08.jpg" alt="Education Images">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50">
                        <div class="section-title text-start">
                            <h2 class="title">Know About<br />GlobalMed Academy</h2>
                        </div>
                        <p class="description mt--30">GlobalMedAcademy is a cutting-edge Medical Ed-tech organization that provides specialized courses for medical graduates through hybrid learning approach</p>
                        <!-- Start Feature List  -->
                        <div class="rbt-feature-wrapper mt--40">

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-pink-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Expertly Designed Programs</h6>
                                    <p class="feature-description">GlobalMedAcademy (GMA) offers courses created by renowned medical scholars, integrating their practical and theoretical expertise into the curriculum.</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-primary-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Blending Theory and Practice</h6>
                                    <p class="feature-description">GlobalMed Academy's programs combine theoretical knowledge with practical applications, providing a comprehensive learning experience for students</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-coral-opacity">
                                    <i class="feather-monitor"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Immersive Technology</h6>
                                    <p class="feature-description">With state-of-the-art technology, GlobalMed Academy ensures an engaging and effective learning journey, preparing students for real-world medical challenges</p>
                                </div>
                            </div>
                        </div>

                        <!-- End Feature List  -->
                        <!-- <div class="about-btn mt--40">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                            <span class="btn-text">More About Us</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a href="https://api.whatsapp.com/send/?phone=919730020462&text&type=phone_number&app_absent=0"  target="" class="whatsapp_float"><img src="assets/images/whatsapp-icon.png" alt=""></a>

    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
    
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                       
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                        <span class="user-info">
                        <span class="icon"><i class="icon-instagram"></i></span>
                       
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>