<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
        <% } else { %>
            <!-- Include regular header -->
            <%- include('header') %>
                <% } %>
                    <div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumb-inner text-center">
                                        <h2 class="title">Admission Guide</h2>
                                        <ul class="page-list">
                                            <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                                            <li>
                                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                                            </li>
                                            <li class="rbt-breadcrumb-item active">Admission Guide</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Breadcrumb Area -->

                    <div class="rbt-admission-area bg-color-white rbt-section-gapTop">
                        <div class="container">
                            <div class="row g-5 d-flex align-items-start">
                                <div class="col-lg-6">
                                    <div class="video-popup-wrapper">
                                        <img id="dynamicImage" class="w-80 rbt-radius" style="margin-left: 113px;" src="assets/images/others/admissionflow.png" alt="admission flow">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="textContent" class="addmission-guide-content pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                                        <h3 class="title" style="color: rgb(0, 75, 161);">Easy process for admissions!</h3>
                                        </h3>
                                        <p>Welcome to Global Med Academy, your gateway to world-class medical
                                            upskilling. Our admission process is designed to be seamless and convenient,
                                            ensuring that learners can easily embark on their educational journey.
                                            Here's a step-by-step guide to our admission process:</p>
                                        <p>At Global Med Academy, we strive to make the admission process as smooth as
                                            possible, allowing you to focus on your education and career advancement.
                                            Join us today and unlock a world of opportunities in the field of medicine.
                                            We can't wait to see you thrive!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="rbt-blog-details-area rbt-section-gapBottom breadcrumb-style-max-width">

                            <div class="content">


                                <p>1.<strong style="color: rgb(0, 75, 161);"> Select specialization and level</strong>:
                                    Browse through our wide range of
                                    courses
                                    and
                                    choose the one that aligns with your career goals and interests. Whether you're
                                    a medical student, a practicing doctor, or looking to specialize in a specific
                                    field, we have the perfect course for you. You may choose a Professional
                                    Certificate, Advanced certificate, or Fellowship based on your interest. You may
                                    take these courses step by step only paying a differential amount between the
                                    two. </p>

                                <p>2. <strong style="color: rgb(0, 75, 161);">Make payment:</strong> Once you've
                                    selected your desired course,
                                    simply
                                    make the payment through our secure online payment gateway. We accept various
                                    payment methods, ensuring a hassle-free transaction process. We also offer
                                    interest-free EMI options. Pls get in touch with our customer care team to know
                                    more.
                                    <br><br> 3. <strong style="color: rgb(0, 75, 161);">Instant payment
                                        receipt:</strong> As soon as your payment is
                                    processed, you will receive an instant payment receipt via email. This receipt
                                    serves as a confirmation of your enrolment and can be used for any reimbursement
                                    or
                                    documentation purposes.
                                    <br><br>4. <strong style="color: rgb(0, 75, 161);">Submission of Documents:</strong>
                                    As soon as your payment is
                                    processed, you will be able to upload your documents online or via the customer
                                    care
                                    team. Please submit relevant documents.
                                    <br><br>5. <strong style="color: rgb(0, 75, 161);">LMS access within 24
                                        hours:</strong> We understand the
                                    importance
                                    of getting started with your learning journey as soon as possible. That's why we
                                    provide you with access to our state-of-the-art Learning Management System (LMS)
                                    within 24 hours of submission of documents. Our LMS is user-friendly, intuitive,
                                    and
                                    packed with interactive learning materials, ensuring a seamless learning
                                    experience.
                                    <br><br>6. <strong style="color: rgb(0, 75, 161);">24/7 customer care
                                        support:</strong> We value your
                                    satisfaction
                                    and are committed to providing exceptional customer care. If you have any
                                    questions,
                                    or concerns, or need assistance at any point during your learning journey, our
                                    dedicated customer care team is available round the clock. Feel free to reach
                                    out to
                                    us via phone, email, or live WhatsApp chat, and we'll be more than happy to
                                    assist
                                    you.
                            </div>

                        </div>
                    </div>

                    <div class="rbt-separator-mid">
                        <div class="container">
                            <hr class="rbt-separator m-0">
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('footer'); -%>