<%-include ('header'); -%>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="rbt-newsletter-area bg-gradient-6 ptb--50">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="inner">
                    <div class="section-title text-center text-lg-start">
                        <h4 class="title"><strong>Authenticate</strong> <br /> <span class="w-400">your Email</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12 text-start text-sm-end">
                <form action="#" class="newsletter-form-1 me-0">
                    <input type="email" placeholder="Enter Your E-Email">
                    <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                        <span class="icon-reverse-wrapper">
                    <span class="btn-text">SENT OTP</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>