<div class="maso-item ">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/acute-medicine.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a >Acute
                    Medicine</a>
            </h4>

            <ul class="rbt-meta">

                <li><i class="feather-users"></i>Batch Starts-</li>
            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">
                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 15, 999</span>
                </div>
                <a class="rbt-btn-link" >Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item ">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/advanced-radiotherapy.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details">Advanced
                    Radiotherapy</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 7, 999</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/neonatal-care.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a > Allied Health
                    Professionals in Neonatal Care</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 6,999</span>
                </div>
                <a class="rbt-btn-link"
                    >Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/anaphylaxis.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details-anaphylaxis"> Anaphylaxis
                </a>
            </h4>
            <p class="rbt-card-text">Comprehensive global e-learning for managing anaphylaxis</p>
            <ul class="rbt-meta">
               

            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 3,599</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details-anaphylaxis">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/course-list-06b.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details-blood-transfusion"> Blood
                    Transfusion </a>
            </h4>
            <p class="rbt-card-text">Globally accessible e-learning: optimizing blood transfusion care</p>
            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 6,000</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details-blood-transfusion">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/breast-imaging.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details-breast-imaging"> Breast Imaging
                </a>
            </h4>
            <p class="rbt-card-text">Comprehensive e-learning: Breast health mastery for healthcare professionals</p>
            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 6,000</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details-breast-imaging">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/cancer-careers.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/ayush-course/cancer-careers-in-nursing-elearning-course">Cancer Careers
                    in Nursing elearning Course </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 6,750</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details-cancer-career-in-nursing-elearning">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/cardiovascular-disease.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a >Cardiovascular
                    Disease Toolkit </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 4,350</span>
                </div>
                <a class="rbt-btn-link"
                    >Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/care-certificate.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a >Care
                    Certificate</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 3,450</span>
                </div>
                <a class="rbt-btn-link"
                    >Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/ayush-course/course-details-breastmilk-provison-for-preterm-and-sick-neonates">
                <img src="assets/images/course/breastmilk-provision.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/ayush-course/course-details-breastmilk-provison-for-preterm-and-sick-neonates">Breastmilk
                    Provision for Preterm and Sick Neonates</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 3,450</span>
                </div>
                <a class="rbt-btn-link"
                    href="/ayush-course/course-details-breastmilk-provison-for-preterm-and-sick-neonates">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/childhood-obesity.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details">Childhood
                    Obesity Essentials </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/cch.jpg"
                            alt="College of Contemporary Health">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 27,000</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/clinical-imaging.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Clinical
                    Imaging </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 15,750</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/clinical-oncology-training.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details">Clinical
                    Oncology Training</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 12,750</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>


<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/complains-handeling.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Complaints
                    Handling </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 3,450</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/dementia.jpg" alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Dementia </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 9,000</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/dentistry.jpg" alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Dentistry</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 31,500</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/course-list-06b.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Diabetes Care
                </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 5,250</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/efm.jpg" alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Electronic
                    Fetal Monitoring (eFM) </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 15,750</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/emergency-medicine-leaders.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Emergency
                    Medicine Leaders </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 8,250</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/end-of-life-care.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> End of Life
                    Care </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 15,750</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/endoscopy.jpg" alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Endoscopy
                    Training Course </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 6,000/span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/female-genital-mutilation.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details">Female Genital
                    Mutilation</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 5,250</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/heart-disease.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details"> Heart Failure
                    and Heart Valve Disease </a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 4,500</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/person-communication.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details">Behaviour
                    Change Skills: Person-Centred Communication</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 8,250</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<div class="maso-item cat--5">
    <div class="rbt-card variation-01 rbt-hover card-list-2">
        <div class="rbt-card-img">
            <a href="/course-details">
                <img src="assets/images/course/psychosis.jpg"
                    alt="Card image">
            </a>
        </div>
        <div class="rbt-card-body">
            <div class="rbt-card-top">
                <div class="rbt-review">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <span class="rating-count"></span>
                </div>
                <div class="rbt-bookmark-btn">
                    <a class="rbt-round-btn" title="Bookmark" href="#"><i
                            class="feather-bookmark"></i></a>
                </div>
            </div>

            <h4 class="rbt-card-title"><a href="/course-details">Cognitive
                    Behavioural Therapies for Psychosis</a>
            </h4>

            <ul class="rbt-meta">


            </ul>
            <div class="rbt-author-meta mb--10">
                <div class="rbt-avater">
                    <a href="#">

                        <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg"
                            alt="Health Education England">
                    </a>
                </div>

            </div>
            <div class="rbt-card-bottom">
                <div class="rbt-price">

                    <span class="current-price">Rs 14,250</span>
                </div>
                <a class="rbt-btn-link"
                    href="/course-details">Learn
                    More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>