<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
        <% } else { %>
            <!-- Include regular header -->
            <%- include('header') %>
                <% } %>

                    <div class="rbt-page-banner-wrapper">
                        <!-- Start Banner BG Image  -->
                        <div class="rbt-banner-image"></div>
                        <!-- End Banner BG Image  -->
                        <div class="rbt-banner-content">
                            <!-- Start Banner Content Top  -->
                            <div class="rbt-banner-content-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Start Breadcrumb Area  -->
                                            <ul class="page-list">
                                                <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                                                <li>
                                                    <div class="icon-right"><i class="feather-chevron-right"></i></div>
                                                </li>
                                                <li class="rbt-breadcrumb-item active">All Blogs</li>
                                            </ul>
                                            <!-- End Breadcrumb Area  -->

                                            <div class=" title-wrapper">
                                                <h1 class="title mb--0">All Blogs</h1>
                                                <!-- <a href="#" class="rbt-badge-2">
                                    <div class="image">🎉</div> 50 Articles
                                </a> -->
                                            </div>

                                            <p class="description">Explore the Latest Advances in Medical Science and
                                                Wellness on Our Blog</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Banner Content Top  -->
                        </div>
                    </div>

                    <!-- Start Card Style -->
                    <div class="rbt-blog-area rbt-section-overlayping-top rbt-section-gapBottom">
                        <div class="container">

                            <!-- Start Card Area -->
                            <div class="row g-5">
                                <!-- Start Single Card  -->
                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-card variation-02 height-330 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Elevate Your Expertise in Diabetes Care: Join Our Fellowship to Lead the Fight Against Diabetes Mellitus</a>
                                <img src="assets/images/blog/blog-bl-01.jpg" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h3 class="rbt-card-title"><a href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">
                                Elevate Your Expertise in Diabetes Care: Join Our Fellowship to Lead the Fight Against Diabetes Mellitus</a></h3>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Learn More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                                <!-- End Single Card  -->
                                <!-- Start Card Area -->
                                <div class="row g-5 mt--15">

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a
                                                    href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">
                                                    <img src="assets/images/blog/blog-bl-01.jpg" alt="Card image"> </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title"><a
                                                        href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Elevate
                                                        Your Expertise in Diabetes Care: Join Our Fellowship to Lead the
                                                        Fight Against Diabetes Mellitus</a></h5>
                                                <!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Learn
                                                        More<i><svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a
                                                    href="/blog/pursuing-excellence-a-comprehensive-overview-of-a-fellowship-in-internal-medicine">
                                                    <img src="assets/images/blog/blog-bl-02.jpg" alt="Card image"> </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title"><a
                                                        href="/blog/pursuing-excellence-a-comprehensive-overview-of-a-fellowship-in-internal-medicine">Pursuing
                                                        Excellence: A Comprehensive Overview of a Fellowship in Internal
                                                        Medicine.</a></h5>
                                                <!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/pursuing-excellence-a-comprehensive-overview-of-a-fellowship-in-internal-medicine">Learn
                                                        More<i><svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a
                                                    href="/blog/advanced-professional-certificate-in-diabetes-mellitus-enhancing-expertise-in-diabetes-management">
                                                    <img src="assets/images/blog/blog-bl-03.jpg" alt="Card image"> </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title"><a
                                                        href="/blog/advanced-professional-certificate-in-diabetes-mellitus-enhancing-expertise-in-diabetes-management">Advanced
                                                        Professional Certificate in Diabetes Mellitus: Enhancing
                                                        Expertise in Diabetes Management</a></h5>
                                                <!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/advanced-professional-certificate-in-diabetes-mellitus-enhancing-expertise-in-diabetes-management">Learn
                                                        More<i><svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">
                                                    <img src="assets/images/blog/blog-bl-04.jpg"
                                                        alt="Exploring the Future of Medical Research">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title">
                                                    <a href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">Empower your expertise in Professional Certificate in Diabetes Mellitus-Transforming Care for a Healthier Tomorrow</a>
                                                </h5>
                                                <!-- <p class="rbt-card-text">Short description or excerpt from the blog post.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- End Card Area -->
                            </div>
                        </div>
                    </div>
                    <!-- End Card Style -->

                    <div class="rbt-separator-mid">
                        <div class="container">
                            <hr class="rbt-separator m-0">
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Footer aera -->
                    <%- include('footer');-%>