<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
        <% } else { %>
            <!-- Include regular header -->
            <%- include('header') %>
                <% } %>

                    <div class="rbt-page-banner-wrapper">
                        <!-- Start Banner BG Image  -->
                        <div class="rbt-banner-image"></div>
                        <!-- End Banner BG Image  -->
                        <div class="rbt-banner-content">
                            <!-- Start Banner Content Top  -->
                            <div class="rbt-banner-content-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Start Breadcrumb Area  -->
                                            <ul class="page-list">
                                                <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                                                <li>
                                                    <div class="icon-right"><i class="feather-chevron-right"></i></div>
                                                </li>
                                                <li class="rbt-breadcrumb-item active">All Blogs</li>
                                            </ul>
                                            <!-- End Breadcrumb Area  -->

                                            <div class=" title-wrapper">
                                                <h1 class="title mb--0">All Blogs</h1>
                                                <!-- <a href="#" class="rbt-badge-2">
                                    <div class="image">🎉</div> 50 Articles
                                </a> -->
                                            </div>

                                            <p class="description">Explore the Latest Advances in Medical Science and
                                                Wellness on Our Blog</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Banner Content Top  -->
                        </div>
                    </div>

                    <!-- Start Card Style -->
                    <div class="rbt-blog-area rbt-section-overlayping-top rbt-section-gapBottom">
                        <div class="container">

                            <!-- Start Card Area -->
                            <div class="row g-5">
                                <!-- Start Single Card  -->
                                <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-card variation-02 height-330 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Elevate Your Expertise in Diabetes Care: Join Our Fellowship to Lead the Fight Against Diabetes Mellitus</a>
                                <img src="assets/images/blog/blog-bl-01.jpg" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h3 class="rbt-card-title"><a href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">
                                Elevate Your Expertise in Diabetes Care: Join Our Fellowship to Lead the Fight Against Diabetes Mellitus</a></h3>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Learn More<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                                <!-- End Single Card  -->
                                <!-- Start Card Area -->
                                <div class="row g-5 mt--15">

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a
                                                    href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">
                                                    <img src="assets/images/blog/blog-bl-01.jpg" alt="Card image"> </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs"><a
                                                        href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus">Elevate
                                                        Your Expertise in Diabetes Care: Join Our Fellowship to Lead the
                                                        Fight Against Diabetes Mellitus</a></h5>
                                                <!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/elevate-your-expertise-in-diabetes-care-join-our-fellowship-to-lead-the-fight-against-diabetes-mellitus" style="font-weight: bolder;">Learn
                                                        More<i><svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a
                                                    href="/blog/pursuing-excellence-a-comprehensive-overview-of-a-fellowship-in-internal-medicine">
                                                    <img src="assets/images/blog/blog-bl-02.jpg" alt="Card image"> </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs"><a
                                                        href="/blog/pursuing-excellence-a-comprehensive-overview-of-a-fellowship-in-internal-medicine">Pursuing
                                                        Excellence: A Comprehensive Overview of a Fellowship in Internal
                                                        Medicine.</a></h5>
                                                <!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/pursuing-excellence-a-comprehensive-overview-of-a-fellowship-in-internal-medicine">Learn
                                                        More<i><svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a
                                                    href="/blog/advanced-professional-certificate-in-diabetes-mellitus-enhancing-expertise-in-diabetes-management">
                                                    <img src="assets/images/blog/blog-bl-03.jpg" alt="Card image"> </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs"><a
                                                        href="/blog/advanced-professional-certificate-in-diabetes-mellitus-enhancing-expertise-in-diabetes-management">Advanced
                                                        Professional Certificate in Diabetes Mellitus: Enhancing
                                                        Expertise in Diabetes Management</a></h5>
                                                <!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> -->
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/advanced-professional-certificate-in-diabetes-mellitus-enhancing-expertise-in-diabetes-management">Learn
                                                        More<i><svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">
                                                    <img src="assets/images/blog/blog-bl-04.jpg"
                                                        alt="Exploring the Future of Medical Research">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">Empower yourself with Professional Certificate in Diabetes Mellitus-Transforming Care for a Healthier Tomorrow</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empower-your-expertise-in-professional-certificate-in-diabetes-mellitus-transforming-care-for-a-healthier-tomorrow">
                                                    <img src="assets/images/blog/blog-bl-05.jpg"
                                                        alt="Fellowship in integrated diabetes management">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/how-to-navigate-the-complexities-of-diabetes-care-join-gma-fellowship-in-diabetes-management-program">How to Navigate the Complexities of Diabetes Care: Join GMA’s ‘Fellowship in Diabetes Management’ Program</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/how-to-navigate-the-complexities-of-diabetes-care-join-gma-fellowship-in-diabetes-management-program">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/tap-into-your-potential-with-globalmed-academy-online-fellowship-in-critical-care">
                                                    <img src="assets/images/blog/blog-bl-07.jpg"
                                                        alt="Fellowship in Critical Care">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/tap-into-your-potential-with-globalmed-academy-online-fellowship-in-critical-care">Tap into Your Potential with GlobalMed Academy’s (GMA)  Online ‘Fellowship in Critical Care’</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/tap-into-your-potential-with-globalmed-academy-online-fellowship-in-critical-care">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/fellowship-in-diabetes-mellitus-blog">
                                                    <img src="assets/images/blog/blog-8a.jpg"
                                                        alt="Fellowship in Diabetes Mellitus">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/fellowship-in-diabetes-mellitus-blog">Fellowship in Diabetes Mellitus</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/fellowship-in-diabetes-mellitus-blog">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/navigating-pain-management-in-hospitals-a-comprehensive-guide">
                                                    <img src="assets/images/blog/pain_management.jpg"
                                                        alt="Pain Management">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/navigating-pain-management-in-hospitals-a-comprehensive-guide">Navigating Pain Management in Hospitals: A Comprehensive Guide</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/navigating-pain-management-in-hospitals-a-comprehensive-guide">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empowering-physicians-to-specialize-in-family-medicine-how-fellowship-transforms-care">
                                                    <img src="assets/images/blog/blog-10.jpg"
                                                        alt="Fellowship in Family Medicine">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empowering-physicians-to-specialize-in-family-medicine-how-fellowship-transforms-care">Empowering Physicians to Specialize in Family Medicine: How Fellowship Transforms Care</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empowering-physicians-to-specialize-in-family-medicine-how-fellowship-transforms-care">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empowering-excellence-in-diabetes-care-through-advanced-fellowship-training">
                                                    <img src="assets/images/blog/empower-excellence-diabetes-care.jpg"
                                                        alt="Empower Excellence in Diabetes Training">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empowering-excellence-in-diabetes-care-through-advanced-fellowship-training">Empowering Excellence in Diabetes Care Through Advanced Fellowship Training</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empowering-excellence-in-diabetes-care-through-advanced-fellowship-training">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    7 August,2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empowering-specialists-with-advanced-expertise-in-gynecology-and-obstetrics">
                                                    <img src="assets/images/blog/blog-12.jpg"
                                                        alt="gynecology and obstetrics">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empowering-specialists-with-advanced-expertise-in-gynecology-and-obstetrics">Empowering Specialists with Advanced Expertise in Gynecology and Obstetrics (OB/GYN)</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empowering-specialists-with-advanced-expertise-in-gynecology-and-obstetrics">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    9 August,2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empowering-cardiovascular-excellence-fellowship-in-clinical-cardiology-for-a-healthier-india">
                                                    <img src="assets/images/blog/blog-13.jpg"
                                                        alt="gynecology and obstetrics">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empowering-cardiovascular-excellence-fellowship-in-clinical-cardiology-for-a-healthier-india">Empowering Cardiovascular Excellence: Fellowship in Clinical Cardiology for a Healthier India</a>
                                                </h5>
                                               
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empowering-cardiovascular-excellence-fellowship-in-clinical-cardiology-for-a-healthier-india">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    16 August,2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/discover-how-a-fellowship-in-critical-care-medicine-transforms-expertise-into-lifesaving-skills">
                                                    <img src="assets/images/blog/blog-14.jpg" alt="critical care medicine fellowship">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/discover-how-a-fellowship-in-critical-care-medicine-transforms-expertise-into-lifesaving-skills">Discover How a Fellowship in Critical Care Medicine Transforms Expertise into Lifesaving Skills</a>
                                                </h5>
                                                
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/discover-how-a-fellowship-in-critical-care-medicine-transforms-expertise-into-lifesaving-skills">Learn More
                                                        <i>
                                                            <svg width="17" height="12" xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    17 August, 2024 <!-- Last Saturday's date -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/how-fellowships-in-family-medicine-empower-physicians-to-deliver-specialized-comprehensive-care">
                                                    <img src="assets/images/blog/blog-15.jpg" alt="family medicine fellowship">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/how-fellowships-in-family-medicine-empower-physicians-to-deliver-specialized-comprehensive-care">How Fellowships in Family Medicine Empower Physicians to Deliver Specialized, Comprehensive Care</a>
                                                </h5>
                                                
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/how-fellowships-in-family-medicine-empower-physicians-to-deliver-specialized-comprehensive-care">Learn More
                                                        <i>
                                                            <svg width="17" height="12" xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    21 August, 2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/how-fellowship-in-internal-medicine-sharpens-expertise-for-exceptional-patient-care">
                                                    <img src="assets/images/blog/blog-16.jpg" alt="internal medicine fellowship">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/how-fellowship-in-internal-medicine-sharpens-expertise-for-exceptional-patient-care">How Fellowship in Internal Medicine Sharpens Expertise for Exceptional Patient Care</a>
                                                </h5>
                                                
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/how-fellowship-in-internal-medicine-sharpens-expertise-for-exceptional-patient-care">Learn More
                                                        <i>
                                                            <svg width="17" height="12" xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    24 August, 2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empowering-excellence-in-child-healthcare-through-fellowship-in-pediatrics">
                                                    <img src="assets/images/blog/blog-17.jpg" alt="pediatrics fellowship">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empowering-excellence-in-child-healthcare-through-fellowship-in-pediatrics">Empowering Excellence in Child Healthcare Through Fellowship in Pediatrics</a>
                                                </h5>
                                                
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empowering-excellence-in-child-healthcare-through-fellowship-in-pediatrics">Learn More
                                                        <i>
                                                            <svg width="17" height="12" xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    4 September, 2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/discover-how-advanced-training-in-family-medicine-transforms-patient-care">
                                                    <img src="assets/images/blog/blog-18.jpg" alt="family medicine advanced training">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/discover-how-advanced-training-in-family-medicine-transforms-patient-care">Discover How Advanced Training in Family Medicine Transforms Patient Care</a>
                                                </h5>
                                    
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/discover-how-advanced-training-in-family-medicine-transforms-patient-care">Learn More
                                                        <i>
                                                            <svg width="17" height="12" xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    9 September, 2024
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rbt-card variation-02 rbt-hover">
                                            <div class="rbt-card-img">
                                                <a href="/blog/empower-yourself-in-diabetes-care-with-our-professional-certificate-in-diabetes-management">
                                                    <img src="assets/images/blog/blog-bl-04.jpg"
                                                        alt="Exploring the Future of Medical Research">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <h5 class="rbt-card-title-blogs">
                                                    <a href="/blog/empower-yourself-in-diabetes-care-with-our-professional-certificate-in-diabetes-management">Empower yourself in Diabetes Care with our ‘Professional Certificate in Diabetes Management’</a>
                                                </h5>
                                                
                                                <div class="rbt-card-bottom">
                                                    <a class="transparent-button"
                                                        href="/blog/empower-yourself-in-diabetes-care-with-our-professional-certificate-in-diabetes-management">Learn More
                                                        <i>
                                                            <svg width="17" height="12"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                                    <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                                    <path stroke-linecap="square"
                                                                        d="M.663 5.572h14.594" />
                                                                </g>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                </div>
                                <!-- End Card Area -->
                            </div>
                        </div>
                    </div>
                    <!-- End Card Style -->

                    <div class="rbt-separator-mid">
                        <div class="container">
                            <hr class="rbt-separator m-0">
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Footer aera -->
                    <%- include('footer');-%>