<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stripe Checkout</title>
<script src="https://js.stripe.com/v3/"></script>
<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  img {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 10px; /* Optional: for rounded corners */
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    background-color: #185ee0; /* Green */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background-color: #218838;
  }
  .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  padding: 20px;
  border-radius: 5px;
  display: none; /* Initially hidden */
}

</style>
</head>
<body>
  <div id="loading" class="loading">Redirecting to payment gateway...</div>

  <button id="buy-now">Buy Now</button>

  <script>
    var stripe = Stripe('pk_test_51NqeaaSAfyNJyYlUw0pm6uNwqciJkrMzXpSc1svqhKrXpudidpAKkGAA7AuUrX8IV0WwHADFPsWgVLCDG6erIMu800EN3o2nPa');
  
    // Immediately Invoked Function Expression (IIFE) to handle the redirection
    (async function() {
      try {
        document.getElementById('loading').style.display = 'block'; // Show loading element
        
        const courseID = '<%= courseID %>'; // Get the courseID passed to the view
        const response = await fetch(`/buy-now/${courseID}`); // Use the courseID in the fetch URL
        const session = await response.json();
        const result = await stripe.redirectToCheckout({ sessionId: session.id });
        
        if (result.error) {
          alert(result.error.message);
        }
      } catch (error) {
        console.error(error);
      } finally {
        document.getElementById('loading').style.display = 'none'; // Hide loading element
      }
    })();
  </script>
  
   
</body>
</html>
