
<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
        <% } else { %>
            <!-- Include regular header -->
            <%- include('header') %>
                <% } %>
<div class="rbt-breadcrumb-default rbt-breadcrumb-style-3">
    <div class="breadcrumb-inner">
        <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content text-start">
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Courses</li>
                    </ul>
                    <h1 class="title">Professional Certificate in General Practice (Internal Medicine)</h1>
                    <p class="description">The "Professional Certificate in General Practice" offered by GMA is a meticulously crafted program designed by expert General Practice specialists to address the pressing need for specialized training in India's healthcare landscape. India faces a unique set of healthcare challenges, and the shortage of proficient General Practice doctors exacerbates these issues. The World Health Organization (WHO) recommends a doctor-population ratio of 1:1000. However, in India, this ratio is significantly lower, standing at approximately 1:1445, as per the National Health Profile 2020. This glaring disparity underscores the urgent need for initiatives like the "Professional Certificate in General Practice" to equip healthcare professionals with the skills and knowledge necessary to address the nation's healthcare challenges effectively.
                      <br><br>As the population ages and chronic diseases become increasingly prevalent, the demand for focused General Practice interventions becomes paramount in not only saving lives but also enhancing the overall quality of healthcare delivery across the nation. The situation is particularly dire in rural areas where access to quality healthcare is limited. Distinctive healthcare challenges, including a significant burden of infectious diseases, non-communicable diseases, and road traffic accidents, frequently necessitate General Practice interventions. However, the scarcity of trained General Practice professionals further exacerbates healthcare disparities, hindering access to life-saving treatments for those who need them the most. 
                        <br><br>The comprehensive "Professional Certificate in General Practice" offered by GMA is designed to empower healthcare professionals with specialized knowledge and skills. By addressing these challenges head-on, professionals equipped with expertise in General Practice play a pivotal role in bridging healthcare gaps. They become essential components in improving healthcare outcomes and transforming the healthcare landscape in India.
                    </p>

                    <div class="d-flex align-items-center mb--20 flex-wrap rbt-course-details-feature">

                        <div class="feature-sin best-seller-badge">
                            <span class="rbt-badge-2">
                                <span class="image"><img src="assets/images/icons/card-icon-1.png"
                                        alt="Best Seller Icon"></span> Bestseller
                            </span>
                        </div>

                        <!-- <div class="feature-sin rating">
                            <a href="#">4.8</a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                        </div> -->

                        <!-- <div class="feature-sin total-rating">
                            <a class="rbt-badge-4" href="#">215,475 rating</a>
                        </div>

                        <div class="feature-sin total-student">
                            <span>616,029 students</span>
                        </div> -->

                    </div>

                    <!-- <div class="rbt-author-meta mb--20">
                        <div class="rbt-avater">
                            <a href="#">
                                <img src="assets/images/client/avatar-02.png" alt="Sophia Jaymes">
                            </a>
                        </div>
                        <div class="rbt-author-info">
                            By <a href="profile.html">Angela</a> In <a href="#">Development</a>
                        </div>
                    </div> -->

                    <ul class="rbt-meta">
                        <li><i class="feather-globe"></i>English</li>
                        <li><i class="feather-award"></i>Certified Course</li>
                        <li>
                            <div class="rbt-author-meta mb--10">
                                <div class="rbt-avater">
                                    <a href="#">
                                        <img src="assets/images/MedicollLogos/InternalMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                        <img src="assets/images/MedicollLogos/InternalMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                        <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCP logo.jpg" alt="Sophia Jaymes">
                                        <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPE logo.jpg" alt="Sophia Jaymes">
                                        <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPSG logo.png" alt="Sophia Jaymes">
                                    </a>
                                </div>
                                
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area ptb--60">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-8">
                <div class="course-details-content">
                    <div class="rbt-course-feature-box rbt-shadow-box thuumbnail">
                        <img class="w-100" src="assets/images/course/course-03.jpg" alt="Professional Certificate in General Practice
                        ">
                    </div>

                    <div class="rbt-inner-onepage-navigation sticky-top mt--30">
                        <nav class="mainmenu-nav onepagenav">
                            <ul class="mainmenu">
                                <li class="current">
                                    <a href="#overview">Overview</a>
                                </li>
                                <li>
                                    <a href="#coursecontent">Course Content</a>
                                </li>
                                <li>
                                    <a href="#details">Requirements</a>
                                </li>
                                <li>
                                    <a href="#intructor">Intructor</a>
                                </li>
                                <li>
                                    <a href="#review">Review</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more"
                        id="overview">
                        <div class="rbt-course-feature-inner has-show-more-inner-content">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">What you'll learn</h4>
                            </div>
                            <p>Upon completion of the programme one should be able to
                            </p>

                            <div class="row g-5 mb--30">
                                <!-- Start Feture Box  -->
                                <div class="col-lg-6">
                                    <ul class="rbt-list-style-1">
                                        <li><i class="feather-check"></i>Master core competencies and develop vital skills for proficient General Practice.</li>
                                        <li><i class="feather-check"></i>Sharpen diagnostic abilities and skills through real-world case studies.</li>
                                        <li><i class="feather-check"></i>Cultivate trust, active listening, and shared decisions for stronger patient bond.</li>
                                        <li><i class="feather-check"></i>Champion preventive care and learn to provide immunizations, screenings, and lifestyle guidance.</li>
                                        <li><i class="feather-check"></i>Understand the pivotal role of Primary Care in healthcare systems.</li>
                                    </ul>
                                </div>                                
                                <!-- End Feture Box  -->

                            </div>
                        </div>
                        <div class="rbt-show-more-btn">Show More</div>
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Content  -->
                    <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30" id="coursecontent">
                        <div class="rbt-course-feature-inner">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">Course Content</h4>
                            </div>
                            <div class="rbt-accordion-style rbt-accordion-02 accordion">

                                <!-- Module 1: Introduction to General Practice -->
                                <div class="accordion-item card">
                                    <h2 class="accordion-header card-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Module-1:<span class=" ml--10">Introduction to General Practice</span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExampleb2">
                                        <div class="accordion-body card-body pr--0">
                                            <ul class="rbt-course-main-content liststyle">
                                                <li><i class="feather-book"></i> Understanding the Role of a General Practitioner</li>
                                                <li><i class="feather-book"></i> Core Skills and Competencies in General Practice</li>
                                                <li><i class="feather-book"></i> Importance of Primary Care in Healthcare Systems</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Module 2: Diagnostic Approaches in General Practice -->
                                <div class="accordion-item card">
                                    <h2 class="accordion-header card-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Module-2:<span class="ml--10">Diagnostic Approaches in General Practice</span>
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExampleb2">
                                        <div class="accordion-body card-body pr--0">
                                            <ul class="rbt-course-main-content liststyle">
                                                <li><i class="feather-book"></i> Clinical Reasoning and Differential Diagnosis</li>
                                                <li><i class="feather-book"></i> Effective Use of Diagnostic Tools and Tests</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Module 3: Patient-Cantered Communication -->
                                <div class="accordion-item card">
                                    <h2 class="accordion-header card-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Module-3:<span class="ml--10">Patient-Cantered Communication</span>
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="headingThree" data-bs-parent="#accordionExampleb2">
                                        <div class="accordion-body card-body pr--0">
                                            <ul class="rbt-course-main-content liststyle">
                                                <li><i class="feather-book"></i> Building Trust and Rapport with Patients</li>
                                                <li><i class="feather-book"></i> Active Listening and Empathetic Communication</li>
                                                <li><i class="feather-book"></i> Shared Decision-Making and Informed Consent</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Module 4: Preventive Care and Health Promotion -->
                                <div class="accordion-item card">
                                    <h2 class="accordion-header card-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Module-4:<span class="ml--10">Preventive Care and Health Promotion</span>
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingFour" data-bs-parent="#accordionExampleb2">
                                        <div class="accordion-body card-body pr--0">
                                            <ul class="rbt-course-main-content liststyle">
                                                <li><i class="feather-book"></i> Immunizations and Vaccination Schedules</li>
                                                <li><i class="feather-book"></i> Screening Guidelines for Various Age Groups</li>
                                                <li><i class="feather-book"></i> Lifestyle Counselling and Preventive Interventions</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            
                            
                        </div>
                    </div>
                    <!-- End Course Content  -->

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box rbt-shadow-box details-wrapper mt--30" id="details">
                        <div class="row g-5">
                            <!-- Start Feture Box  -->
                            <div class="col-lg-6">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3 mb--20">Requirements</h4>
                                </div>
                                <ul class="rbt-list-style-1">
                                    <li><i class="feather-check"></i>MBBS Graduates
                                    </li>
                                    <li><i class="feather-check"></i>Practicing Physicians.</li>
                                    <li><i class="feather-check"></i>MD and DNB resident </li>
                                    <li><i class="feather-check"></i>
                                        Applicants who are in the MBBS final year can also apply</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="related-course mt--60">
                    <div class="row g-5 align-items-end mb--40">
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="section-title">
                                <span class="subtitle bg-pink-opacity">Top Course</span>
                                <h4 class="title">More Courses<strong class="color-primary"></strong></h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="read-more-btn text-start text-md-end">
                                <a class="rbt-btn rbt-switch-btn btn-border btn-sm" href="#">
                                    <span data-text="View All Course">View All Course</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <!-- Start Single Card  -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up"
                            data-sal-duration="800">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a href="/course-details-fellowship-in-critical-care">
                                        <img src="assets/images/course/course-list-03b.jpg" alt="Card image">
                                        <div class="rbt-badge-3 bg-white">
                                            <span>-15%</span>
                                            <span>Off</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <div class="rbt-card-top">
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                    </div>

                                    <h4 class="rbt-card-title"><a href="/course-details-fellowship-in-critical-care">Fellowship in Critical Care</a>
                                    </h4>

                                    <ul class="rbt-meta">
                                        <li><i class="feather-book"></i>12 Lessons</li>
                                        <li><i class="feather-users"></i>50 Students</li>
                                    </ul>

                                    <p class="rbt-card-text">Provide comprehensive ICU care & management</p>
                                    <div class="rbt-author-meta mb--10">
                                        <div class="rbt-avater">
                        
                                        </div>
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">Rs 1,19,000</span>
                                            <span class="off-price">Rs 1,40,000</span>
                                        </div>
                                        <a class="rbt-btn-link" href="/course-details-fellowship-in-critical-care">Learn
                                            More<i class="feather-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up"
                            data-sal-duration="800">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a href="/course-details-fpd">
                                        <img src="assets/images/course/course-list-08b.jpg" alt="Card image">
                                        <div class="rbt-badge-3 bg-white">
                                            <span>-36%</span>
                                            <span>Off</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <div class="rbt-card-top">
                                        <div class="rbt-review">
                                            
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="rbt-card-title"><a href="/course-details-fpd">Fellowship in Pediatrics</a>
                                    </h4>
                                    <ul class="rbt-meta">
                                        <li><i class="feather-book"></i>12 Lessons</li>
                                        <li><i class="feather-users"></i>50 Students</li>
                                    </ul>

                                    <p class="rbt-card-text">It is a long established fact that a reader will be
                                        distracted.</p>
                                    <div class="rbt-author-meta mb--10">
                                        <div class="rbt-avater">
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">Rs 1,02,000</span>
                                            <span class="off-price">Rs 1,20,000</span>
                                        </div>
                                        <a class="rbt-btn-link" href="/course-details-fpd">Learn
                                            More<i class="feather-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border">
                    <div class="inner">

                        <!-- Start Viedo Wrapper  -->
                        <a class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15"
                            href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <div class="video-content">
                                <img class="w-100 rbt-radius" src="assets/images/others/video-01.jpg"
                                    alt="Video Images">
                                <div class="position-to-top">
                                    <span class="rbt-btn rounded-player-2 with-animation">
                                        <span class="play-icon"></span>
                                    </span>
                                </div>
                                <span class="play-view-text d-block color-white"><i class="feather-eye"></i> Preview
                                    this course</span>
                            </div>
                        </a>
                        <!-- End Viedo Wrapper  -->

                        <div class="content-item-content">
                            <div
                                class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                <div class="rbt-price">
                                    <span class="current-price">Rs. 1,02,000</span>
                                    <span class="off-price">Rs. 1,20,000</span>
                                </div>
                                <div class="discount-time">
                                    <span class="rbt-badge color-danger bg-color-danger-opacity"><i
                                            class="feather-clock"></i> 3 days left!</span>
                                </div>
                            </div>
                            <div class="buy-now-btn mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center btn-unauthorised" href="#">
                                    <span class="btn-text">Buy Now</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <span class="subtitle"><i class="feather-rotate-ccw"></i> 30-Day Money-Back
                                Guarantee</span>


                            <div class="rbt-widget-details has-show-more">
                                <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                                    <li><span>Start Date</span><span class="rbt-feature-value rbt-badge-5">27 Jan, 2024</span>
                                    </li>
                                    <!-- <li><span>Enrolled</span><span class="rbt-feature-value rbt-badge-5">100</span>
                                    </li>
                                    <li><span>Lectures</span><span class="rbt-feature-value rbt-badge-5">50</span>
                                    </li> -->
                                    <!-- <li><span>Skill Level</span><span
                                            class="rbt-feature-value rbt-badge-5">Basic</span></li>
                                    <li><span>Language</span><span
                                            class="rbt-feature-value rbt-badge-5">English</span></li>
                                    <li><span>Quizzes</span><span class="rbt-feature-value rbt-badge-5">10</span>
                                    </li>
                                    <li><span>Certificate</span><span
                                            class="rbt-feature-value rbt-badge-5">Yes</span></li>
                                    <li><span>Pass Percentage</span><span
                                            class="rbt-feature-value rbt-badge-5">95%</span></li> -->
                                </ul>
                                <div class="rbt-show-more-btn">Show More</div>
                            </div>

                            <div class="social-share-wrapper mt--30 text-center">
                                <div class="rbt-post-share d-flex align-items-center justify-content-center">
                                    <ul
                                    class="social-icon social-default transparent-with-border justify-content-center">
                                    <li><a href="https://www.facebook.com/globalmedacademyindia">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://twitter.com/GMEdAcademy">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/globalmedacadmey/">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/company/globalmedacademy">
                                            <i class="feather-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                                </div>
                                <hr class="mt--20">

                                <div class="contact-with-us text-center">
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i
                                            class="feather-download"></i><a href="#"><strong>Course Brochure</strong></a></p>
                                </div>
                                <br>
                                <div class="contact-with-us text-center">
                                    
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i
                                            class="feather-download"></i><a href="#"><strong>Sample Certificate</strong></a></p>
                                </div>
                                <br>
                                <div class="contact-with-us text-center">
                                    <p>For details about the course</p>
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i
                                            class="feather-phone mr--5"></i> Call Us: <a href="#"><strong>+444 555
                                                666 777</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

<!-- Start Course Action Bottom  -->
<div class="rbt-course-action-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="section-title text-center text-md-start">
                    <h5 class="title mb--0">Fellowship in General Medicine</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt_sm--15">
                <div class="course-action-bottom-right rbt-single-group">
                    <div class="rbt-single-list rbt-price large-size justify-content-center">
                        <span class="current-price color-primary">Rs 1,02,000</span>
                        <span class="off-price">Rs. 1,20,000</span>
                    </div>
                    <div class="rbt-single-list action-btn">
                        <a class="rbt-btn btn-gradient hover-icon-reverse btn-md" href="#">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">Purchase Now</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div
class="rbt-accordion-area accordion-style-1 rbt-accordion-color-white bg-color-darker rbt-section-gapBottom pt--60 pt_sm--0 overflow-hidden position-relative top-circle-shape-top overlpping-call-to-action">
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-8 offset-lg-2 col-sm-12">

            <div class="section-title text-center pb--60">
                <div class="client-group-image">
                    <img src="assets/images/splash/icons/group-image.png" alt="group image" class="mb--30">
                </div>
                <span class="subtitle bg-secondary-opacity">Check out our FAQ section to see if we can
                    help.</span>
                <h2 class="title mb_sm--0 text-center color-white-off">Do you have any Question</h2>
            </div>
            <div class="rbt-accordion-style rbt-accordion-02 accordion">
                <div class="accordion" id="accordionExamplea1">
                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is eligibility of this course? 
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="headingOne" data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                Physicians with MBBS with valid MCI registration or final year MBBS students are  eligible to join all programs. However, some certificate programs are available to Ayush and BDS graduates as well; please refer to icons and eligibility. All international students are eligible for certificate and advance certificate programs
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How can I enroll in this course? 
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                               Visit the course page and click on the "Join Now" icon to initiate the enrollment process. Follow the instructions provided to complete the payment process and secure your spot in the program. Alternatively, you can get in touch with us. Please reach out to our support team at 
                                    <a href="mailto:support@globalmedacademy.com">support@globalmedacademy.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                How is course delivered?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="headingThree" data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                GlobalMed Academy provides a flexible learning experience with a combination of self-paced topics and live lectures. To access the course materials, simply log in to our Learning Management System (LMS). Once logged in, you will be guided through the process and given access to the relevant resources, including self-paced modules and information about upcoming live lectures. Enjoy the convenience of learning at your own pace while also benefiting from interactive live sessions
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                How does "Clinical Observership Program" work? 
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                              GlobalMed Academy's clinical observership is an integral component of our fellowship program. It provides valuable hands-on experience in a hospital environment under a senior doctor, allowing students to actively participate in patient care decision-making, gain proficiency in utilizing medical equipment, and observe experienced doctors performing various procedures
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                                How does GlobalMed Academy assestment works?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                Here are the key assessments and guidelines for the GlobalMed Academy program:
<br>1.Flexible online quiz will be conducted after each module that helps the students in self-evaluation and improvement upon completion of all modules.
<br>2.Flexible online examination will be conducted after each course for self-assessment. To pass the assessment, students must achieve a minimum score of 50%. This ensures a satisfactory level of understanding and proficiency in the subject matter
<br>3.Fellowship students must complete all quizzes, online exams, and viva before going for clinical observerships.
<br>4.To receive the final certification from GlobalMed Academy, students participating in clinical observerships must successfully complete the observership according to the guidelines set by the hospital. Once the observership is completed, students are required to share the certificate of completion with GlobalMed Academy as proof, enabling the issuance of the final certification.Upon successful completion of all requirements, GlobalMed Academy will award a certificate.
<br>5.Three attempts are allowed for each online exam without charges. Additional attempts will incur examination fees.

                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What are the accreditations and recognition of course? 
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                GlobalMed Academy provides multiple accreditations for each course, which are clearly mentioned in the brochure. However, it's important to note that GlobalMed Academy does not offer certificates that allow healthcare professionals to claim specialist titles such as diabetologist or cardiologist. The program aims to provide clinical knowledge and insights into global trends in specific topics, enhancing the quality of patient care. It is not a substitute for formal medical education but rather supports continuous learning for healthcare professionals. Please be aware that courses offered by e-learning platforms like GlobalMed Academy are not recognized by the National Medical Council or any other state medical council.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false"
                                aria-controls="collapseSeven">
                                What are minimum system requirements to access the course?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse"
                            aria-labelledby="headingSeven" data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                <p>Our courses are accessible on Windows 7.0 or above and Mac OS X10.15 and above, using any web browser, with a minimum requirement of 1 GB RAM. For optimal performance, we recommend a minimum internet connection speed of 10 Mbps and a RAM capacity of 2 GB
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                What kind of certificate I will get? 
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse"
                            aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                <p>Upon completion of the course, an electronic certificate with the unique enrollment ID will be sent to the registered email address within 24 hours. Additionally, if requested, we can also send a framed certificate to the provided physical address for a tangible recognition of achievement. </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                Is the placement support provided? 
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse"
                            aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                <p>While GlobalMed Academy does not offer a placement guarantee, we have partnerships with various hospitals that often require qualified professionals. Job postings from these partner hospitals will be made available on our Learning Management System (LMS), providing students with opportunities to connect with the right healthcare institutions. In addition, we offer a career guidance lecture designed to assist students in making informed decisions and navigating their career paths successfully</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">
                                Can I cancel my course enrollment before completion?  
                            </button>
                        </h2>
                        
                        <div id="collapseEight" class="accordion-collapse collapse"
                            aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                            <div class="accordion-body card-body">
                                <p>We offer a free cancellation policy that allows for a full refund within 7 days of enrollment if you are not satisfied with the course curriculum or content. However, please note that refunds will not be permitted after this 7-day period has elapsed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Course Action Bottom  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>

                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                   
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                   
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>