<%- include(loggedIn ? 'auth_header' : 'header'); -%>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">All Courses</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->

                        <div class=" title-wrapper">
                            <h1 class="title mb--0">All Courses</h1>
                        </div>

                        <p class="description">Courses that help achieve your goals!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40">
            <div class="container">
                <div class="row mt--60">
                    <div class="col-lg-12">
                        <div class="rbt-portfolio-filter filter-button-default messonry-button text-start justify-content-start">
                            <button data-filter="*" class=""><span class="filter-text">All Courses</span><span
                                    class="course-number">20</span></button>
                            <button data-filter=".cat--1" id="advanced-filter"><span class="filter-text">Advance Certifications</span><span
                                    class="course-number">06</span></button>
                            <button data-filter=".cat--2" id="fellowship-filter"><span class="filter-text">Fellowship</span><span
                                    class="course-number">05</span></button>
                            <button data-filter=".cat--3" id="trending-filter"><span class="filter-text">Trending</span><span class="course-number">09</span></button>
                            <button data-filter=".cat--4"><span class="filter-text">MBBS</span><span
                                    class="course-number"></span></button>
                            <button data-filter="*"><span class="filter-text">AYUSH</span><span
                                        class="course-number"></span></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- End Course Top  -->
    </div>
</div>
<a href="https://api.whatsapp.com/send/?phone=919730020462&text&type=phone_number&app_absent=0"  target="" class="whatsapp_float"><img src="assets/images/whatsapp-icon.png" alt=""></a>
<div class="rbt-section-overlayping-top rbt-section-gapBottom masonary-wrapper-activation">
<div class="container">
<!-- Start Card Area -->
<div class="row row--15">
    <div class="col-lg-12">
        <div class="mesonry-list grid-metro2">
            <div class="resizer"></div>
            <!-- Start Single Card  -->
            <div class="maso-item">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-01.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in Diabetes Mellitus</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>3 Months</li>
                        </ul>

                        <p class="rbt-card-text">Support and provide counseling to all diabetic patients & their families</p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/NHSGEP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/NHSLW logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/UOL logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
        
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 42,500</span>
                                <span class="off-price">Rs 50,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="maso-item cat--3 cat--1">
                            <div class="rbt-card variation-01 rbt-hover card-list-2">
                                <div class="rbt-card-img">
                                    <a href="/course-details">
                                        <img src="assets/images/course/course-list-01a.jpg" alt="Card image">
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <div class="rbt-card-top">
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star half"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-bookmark-btn">
                                            <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                    class="feather-bookmark"></i></a>
                                        </div>
                                    </div>

                                    <h4 class="rbt-card-title"><a href="/course-details">Advance Certificate in Diabetes Mellitus</a>
                                    </h4>

                                    <ul class="rbt-meta">
                                       
                                        <li><i class="feather-users"></i>Batch Starts-</li>
                                        <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                                        <li><i class="feather-clock"></i>6 Months</li>
                                    </ul>

                                    <p class="rbt-card-text">Design comprehensive diabetes care plans 
                                        , diabetes reversal programs</p>
                                    <div class="rbt-author-meta mb--10">
                                        <div class="rbt-avater">
                                            <a href="#">
                                                <img src="assets/images/MedicollLogos/Diabeteslogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                <img src="assets/images/MedicollLogos/Diabeteslogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                                <img src="assets/images/MedicollLogos/Diabeteslogos/NHSGEP logo.jpg" alt="Sophia Jaymes">
                                                <img src="assets/images/MedicollLogos/Diabeteslogos/NHSLW logo.jpg" alt="Sophia Jaymes">
                                                <img src="assets/images/MedicollLogos/Diabeteslogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                                <img src="assets/images/MedicollLogos/Diabeteslogos/UOL logo.jpg" alt="Sophia Jaymes">
                                            </a>
                                        </div>
                                       
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">Rs 63,750</span>
                                            <span class="off-price">Rs 75,000</span>
                                        </div>
                                        <a class="rbt-btn-link" href="/course-details">Learn
                                            More<i class="feather-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-- Start Single Card  -->
            <div class="maso-item cat--3 cat--2 cat--4">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-01b.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star half"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details-fellowshipindiabetesmellitus">Fellowship in Diabetes Mellitus</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>12 Months</li>
                        </ul>

                        <p class="rbt-card-text">Learn to address diabetese complications and become expert</p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/NHSGEP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/NHSLW logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/UOL logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 1,14,750</span>
                                <span class="off-price">Rs 1,35,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="maso-item">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-02.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                            
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in Obs & Gynae</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>3 Months</li>
                        </ul>

                        <p class="rbt-card-text">Provide counseling for general 
                            gynaecological issues
                            </p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/elfh_logo.png" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <br>
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/RCOG logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                       
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 42500</span>
                                <span class="off-price">  Rs 50,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="maso-item cat--3 cat--1">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-02a.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                   
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Advance Certificate in Obs & Gynae</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>6 Months</li>
                        </ul>

                        <p class="rbt-card-text">Provide comprehensive counseling for gynaecological issues</p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/elfh_logo.png" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <br>
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/RCOG logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 63,750</span>
                                <span class="off-price">Rs 75,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="maso-item cat--3 cat--2 cat--4">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details-obsgynae">
                            <img src="assets/images/course/course-list-02b.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star half"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details-obsgynae">Fellowship in Obs & Gynae</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>12 Months</li>
                        </ul>

                        <p class="rbt-card-text">Provide effective counseling and treatment for gynaecological issues
                        </p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/elfh_logo.png" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <br>
                                    <img src="assets/images/MedicollLogos/ObsandGynlogos/RCOG logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                           
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 1,53,000</span>
                                <span class="off-price">Rs 1,80,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details-obsgynae">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
            <!-- Start Single Card  -->
            <div class="maso-item">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-03.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star half"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in Critical Care</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>3 Months</li>
                        </ul>

                        <p class="rbt-card-text">Understand and treat critically ill patients
                        </p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/CriticalCarelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/CriticalCarelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                   <img src="assets/images/MedicollLogos/CriticalCarelogos/Intensive care logo.jpg" alt="Sophia Jaymes">
                                   <br>  <img src="assets/images/MedicollLogos/CriticalCarelogos/RCOA_logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 51,000</span>
                                <span class="off-price">Rs 60,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
                                    <!-- Start Single Card  -->
                                    <div class="maso-item cat--3 cat--1">
                                        <div class="rbt-card variation-01 rbt-hover card-list-2">
                                            <div class="rbt-card-img">
                                                <a href="/course-details">
                                                    <img src="assets/images/course/course-list-03a.jpg" alt="Card image">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <div class="rbt-card-top">
                                                    <div class="rbt-review">
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                          
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                        <span class="rating-count"> (15 Reviews)</span>
                                                    </div>
                                                    <div class="rbt-bookmark-btn">
                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                                class="feather-bookmark"></i></a>
                                                    </div>
                                                </div>
            
                                                <h4 class="rbt-card-title"><a href="/course-details">Advance Certificate in Critical Care</a>
                                                </h4>
            
                                                <ul class="rbt-meta">
                                                   
                                                    <li><i class="feather-users"></i>Batch Starts-</li>
                                                    <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                                                    <li><i class="feather-clock"></i>6 Months</li>
                                                </ul>
            
                                                <p class="rbt-card-text">Provide essential care to the critically ill patients
                                                </p>
                                                <div class="rbt-author-meta mb--10">
                                                    <div class="rbt-avater">
                                                        <a href="#">
                                                            <img src="assets/images/MedicollLogos/CriticalCarelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/CriticalCarelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                                           
                                                           
                                                         <img src="assets/images/MedicollLogos/CriticalCarelogos/Intensive care logo.jpg" alt="Sophia Jaymes">
                                                        <br>
                                                            <img src="assets/images/MedicollLogos/CriticalCarelogos/RCOA_logo.jpg" alt="Sophia Jaymes">
                                                        </a>
                                                    </div>
                                                
                                                </div>
                                                <div class="rbt-card-bottom">
                                                    <div class="rbt-price">
                                                        <span class="current-price">Rs 68,000</span>
                                                        <span class="off-price">Rs 80,000</span>
                                                    </div>
                                                    <a class="rbt-btn-link" href="/course-details">Learn
                                                        More<i class="feather-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                                            <!-- Start Single Card  -->
            <div class="maso-item cat--3 cat--2 cat--4">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-03b.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star half"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details-fellowshipincriticalcare">Fellowship in Critical Care</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>12 Months</li>
                        </ul>

                        <p class="rbt-card-text">Provide comprehensive ICU care & management
                        </p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/CriticalCarelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/CriticalCarelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/CriticalCarelogos/Intensive care logo.jpg" alt="Sophia Jaymes">
                                    <br> <img src="assets/images/MedicollLogos/CriticalCarelogos/RCOA_logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
        
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 1,19,000</span>
                                <span class="off-price">Rs 1,40,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details-fellowshipincriticalcare">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
                                    <!-- Start Single Card  -->
                                    <div class="maso-item cat--3">
                                        <div class="rbt-card variation-01 rbt-hover card-list-2">
                                            <div class="rbt-card-img">
                                                <a href="/course-details">
                                                    <img src="assets/images/course/course-list-04.jpg" alt="Card image">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <div class="rbt-card-top">
                                                    <div class="rbt-review">
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star half"></i>
                                                        </div>
                                                        <span class="rating-count"> (15 Reviews)</span>
                                                    </div>
                                                    <div class="rbt-bookmark-btn">
                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                                class="feather-bookmark"></i></a>
                                                    </div>
                                                </div>
            
                                                <h4 class="rbt-card-title"><a href="/course-details">Certficate in Internal Medicine</a>
                                                </h4>
            
                                                <ul class="rbt-meta">
                                                   
                                                    <li><i class="feather-users"></i>Batch Starts-</li>
                                                    <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                                                    <li><i class="feather-clock"></i>3 Months</li>
                                                </ul>
            
                                                <p class="rbt-card-text">Manage patients with clinical competence using
                                                    latest guidelines
                                                </p>
                                                <div class="rbt-author-meta mb--10">
                                                    <div class="rbt-avater">
                                                        <a href="#">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCP logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPE logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPSG logo.png" alt="Sophia Jaymes">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-bottom">
                                                    <div class="rbt-price">
                                                        <span class="current-price">Rs 42,500</span>
                                                        <span class="off-price">Rs 50,000</span>
                                                    </div>
                                                    <a class="rbt-btn-link" href="/course-details">Learn
                                                        More<i class="feather-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                                            <!-- Start Single Card  -->
            <div class="maso-item cat--3 cat--1">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-04a.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
            
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Advance Certificate in Internal Medicine</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                            <li><i class="feather-clock"></i>6 Months</li>
                        </ul>

                        <p class="rbt-card-text">Provide comprehensive care for chronic diseases
                            like diabetes..
                        </p>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/InternalMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/InternalMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPE logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPSG logo.png" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 63,750</span>
                                <span class="off-price">Rs 75,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
                                    <!-- Start Single Card  -->
                                    <div class="maso-item cat--2 cat--4">
                                        <div class="rbt-card variation-01 rbt-hover card-list-2">
                                            <div class="rbt-card-img">
                                                <a href="/course-details">
                                                    <img src="assets/images/course/course-list-04b.jpg" alt="Card image">
                                                </a>
                                            </div>
                                            <div class="rbt-card-body">
                                                <div class="rbt-card-top">
                                                    <div class="rbt-review">
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star half"></i>
                                                        </div>
                                                        <span class="rating-count"> (15 Reviews)</span>
                                                    </div>
                                                    <div class="rbt-bookmark-btn">
                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                                class="feather-bookmark"></i></a>
                                                    </div>
                                                </div>
            
                                                <h4 class="rbt-card-title"><a href="/course-details-fellowshipininternalmedicine">Fellowship in Internal Medicine</a>
                                                </h4>
            
                                                <ul class="rbt-meta">
                                                   
                                                    <li><i class="feather-users"></i>Batch Starts-</li>
                                                    <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                                                    <li><i class="feather-clock"></i>12 Months</li>
                                                </ul>
            
                                                <p class="rbt-card-text">Provide comprehensive and integrated care
                                                    specific to adult....
                                                </p>
                                                <div class="rbt-author-meta mb--10">
                                                    <div class="rbt-avater">
                                                        <a href="#">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCP logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPE logo.jpg" alt="Sophia Jaymes">
                                                            <img src="assets/images/MedicollLogos/InternalMedicinelogos/RCPSG logo.png" alt="Sophia Jaymes">
                                                        </a>
                                                    </div>
                                                    
                                                </div>
                                                <div class="rbt-card-bottom">
                                                    <div class="rbt-price">
                                                        <span class="current-price">Rs 1,02,000</span>
                                                        <span class="off-price">Rs 1,20,000</span>
                                                    </div>
                                                    <a class="rbt-btn-link" href="/course-details-fellowshipininternalmedicine">Learn
                                                        More<i class="feather-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                                            <!-- Start Single Card  -->
            <div class="maso-item">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-08.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star half"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in Pediatrics</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                            <li><i class="feather-clock"></i>3 Months</li>
                        </ul>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                           
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 42,500</span>
                                <span class="off-price">Rs 50,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->   
                                                              <!-- Start Single Card  -->
                                                              <div class="maso-item cat--1 ">
                                                                <div class="rbt-card variation-01 rbt-hover card-list-2">
                                                                    <div class="rbt-card-img">
                                                                        <a href="/course-details">
                                                                            <img src="assets/images/course/course-list-08a.jpg" alt="Card image">
                                                                        </a>
                                                                    </div>
                                                                    <div class="rbt-card-body">
                                                                        <div class="rbt-card-top">
                                                                            <div class="rbt-review">
                                                                                <div class="rating">
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                </div>
                                                                                <span class="rating-count"> (15 Reviews)</span>
                                                                            </div>
                                                                            <div class="rbt-bookmark-btn">
                                                                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                                                        class="feather-bookmark"></i></a>
                                                                            </div>
                                                                        </div>
                                    
                                                                        <h4 class="rbt-card-title"><a href="/course-details">Advanced Certificate in Pediatrics</a>
                                                                        </h4>
                                    
                                                                        <ul class="rbt-meta">
                                                                           
                                                                            <li><i class="feather-users"></i>Batch Starts-</li>
                                                                            <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                                                                            <li><i class="feather-clock"></i>6 Months</li>
                                                                        </ul>
                                                                        <div class="rbt-author-meta mb--10">
                                                                            <div class="rbt-avater">
                                                                                <a href="#">
                                                                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                                                                </a>
                                                                            </div>
                                                                           
                                                                        </div>
                                                                        <div class="rbt-card-bottom">
                                                                            <div class="rbt-price">
                                                                                <span class="current-price">Rs 63,750</span>
                                                                                <span class="off-price">Rs 75,000</span>
                                                                            </div>
                                                                            <a class="rbt-btn-link" href="/course-details">Learn
                                                                                More<i class="feather-arrow-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Card  --> 
                                                                                                              <!-- Start Single Card  -->
            <div class="maso-item cat--2 cat--4">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-08b.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Fellowship in Pediatrics</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                            <li><i class="feather-clock"></i>3 Months</li>
                        </ul>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 1,14,750</span>
                                <span class="off-price">Rs 1,80,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  --> 
                                                              <!-- Start Single Card  -->
                                                              <div class="maso-item">
                                                                <div class="rbt-card variation-01 rbt-hover card-list-2">
                                                                    <div class="rbt-card-img">
                                                                        <a href="/course-details">
                                                                            <img src="assets/images/course/course-list-07.jpg" alt="Card image">
                                                                        </a>
                                                                    </div>
                                                                    <div class="rbt-card-body">
                                                                        <div class="rbt-card-top">
                                                                            <div class="rbt-review">
                                                                                <div class="rating">
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                </div>
                                                                                <span class="rating-count"> (15 Reviews)</span>
                                                                            </div>
                                                                            <div class="rbt-bookmark-btn">
                                                                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                                                        class="feather-bookmark"></i></a>
                                                                            </div>
                                                                        </div>
                                    
                                                                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in ECG Interpretation</a>
                                                                        </h4>
                                    
                                                                        <ul class="rbt-meta">
                                                                           
                                                                            <li><i class="feather-users" style="font: bold;"></i>Batch Starts-</li>
                                                                            <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                                                                            <li><i class="feather-clock"></i>2 Months</li>
                                                                        </ul>
                                                                        <p>Ability to accurately interpret ECG</p>
                                                                        <div class="rbt-author-meta mb--10">
                                                                            <div class="rbt-avater">
                                                                                <a href="#">
                                                                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/FamilyMedicinelogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                                                                </a>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <div class="rbt-card-bottom">
                                                                            <div class="rbt-price">
                                                                                <span class="current-price">Rs 8,500</span>
                                                                                <span class="off-price">Rs 10,000</span>
                                                                            </div>
                                                                            <a class="rbt-btn-link" href="/course-details">Learn
                                                                                More<i class="feather-arrow-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Card  --> 
                                                                                                              <!-- Start Single Card  -->
            <div class="maso-item">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-05.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in Pediatric Diabetes</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users" ></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>15 June,2023</li>
                            <li><i class="feather-clock"></i>2 Months</li>
                        </ul>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/NHSGEP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/NHSLW logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/RCGP logo.jpg" alt="Sophia Jaymes">
                                    <img src="assets/images/MedicollLogos/Diabeteslogos/UOL logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            <div class="rbt-author-info">
                                By <a href="profile.html">Angela</a> In <a href="#">Development</a>
                            </div>
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 8,500</span>
                                <span class="off-price">Rs 10,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  --> 
                                                              <!-- Start Single Card  -->
                                                              <div class="maso-item">
                                                                <div class="rbt-card variation-01 rbt-hover card-list-2">
                                                                    <div class="rbt-card-img">
                                                                        <a href="/course-details">
                                                                            <img src="assets/images/course/course-list-06.jpg" alt="Card image">
                                                                        </a>
                                                                    </div>
                                                                    <div class="rbt-card-body">
                                                                        <div class="rbt-card-top">
                                                                            <div class="rbt-review">
                                                                                <div class="rating">
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star half"></i>
                                                                                </div>
                                                                                <span class="rating-count"> (15 Reviews)</span>
                                                                            </div>
                                                                            <div class="rbt-bookmark-btn">
                                                                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                                                                        class="feather-bookmark"></i></a>
                                                                            </div>
                                                                        </div>
                                    
                                                                        <h4 class="rbt-card-title"><a href="/course-details">Professional Certificate in Clinical Cardiology</a>
                                                                        </h4>
                                    
                                                                        <ul class="rbt-meta">
                                                                           
                                                                            <li><i class="feather-users"></i>Batch Starts-</li>
                                                                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                                                                            <li><i class="feather-clock"></i>3 Months</li>
                                                                        </ul>
                                                                        <div class="rbt-author-meta mb--10">
                                                                            <div class="rbt-avater">
                                                                                <a href="#">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/elfh_logo.png" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                                                                </a>
                                                                            </div>
                                                                            <div class="rbt-author-info">
                                                                                By <a href="profile.html">Angela</a> In <a href="#">Development</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rbt-card-bottom">
                                                                            <div class="rbt-price">
                                                                                <span class="current-price">Rs 42,500</span>
                                                                                <span class="off-price">Rs 50,000</span>
                                                                            </div>
                                                                            <a class="rbt-btn-link" href="/course-details">Learn
                                                                                More<i class="feather-arrow-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Card  --> 
                                                                                                              <!-- Start Single Card  -->
            <div class="maso-item cat--1">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-06a.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star half"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Advanced Certificate in Clinical Cardiology</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>6 Months</li>
                        </ul>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/Cardologylogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/elfh_logo.png" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 63,750</span>
                                <span class="off-price">Rs 75,000</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  --> 
            <div class="maso-item cat--3 cat--4">
                <div class="rbt-card variation-01 rbt-hover card-list-2">
                    <div class="rbt-card-img">
                        <a href="/course-details">
                            <img src="assets/images/course/course-list-06b.jpg" alt="Card image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="/course-details">Fellowship in Clinical Cardiology</a>
                        </h4>

                        <ul class="rbt-meta">
                           
                            <li><i class="feather-users"></i>Batch Starts-</li>
                            <li class="hola"><i class="feather-book"></i>1 June,2023</li>
                            <li><i class="feather-clock"></i>12 Months</li>
                        </ul>
                        <div class="rbt-author-meta mb--10">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="assets/images/MedicollLogos/Cardologylogos/eIntegrity_logo.jpg" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/elfh_logo.png" alt="Sophia Jaymes">
                                                                                    <img src="assets/images/MedicollLogos/Cardologylogos/HEE_logo.jpg" alt="Sophia Jaymes">
                                </a>
                            </div>
                            
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">Rs 1,25,000</span>
                                <span class="off-price">Rs 1,06,250</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-details">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  --> 
        <!-- End Card Area -->
    </div>
</div>
</div>
</div>

<div class="rbt-separator-mid">
<div class="container">
<hr class="rbt-separator m-0">
</div>
</div>
<%- include('footer');-%>