<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
  <% } else { %>
    <!-- Include regular header -->
    <%- include('header') %>
  <% } %> 
<br>
<br>
<br>
<br>
<br>
    <h1>Upload  Your Files Here</h1>
    <form action="/data" method="post" enctype="multipart/form-data">
     <input name="file" type="file" multiple/>
     <!-- <input name="PanCard" type="file" /> -->
     <!-- <input type="certificate" name="file" /> -->
    <input type="submit" value="SUBMIT DOC'S"> 
    </form>

    <%- include('footer') %>