<%- include('header'); -%>
<div class="slider-area rbt-banner-10 height-750 bg_image bg_image--11" data-black-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <div class="section-title mb--20">
                        <span class="subtitle bg-coral-opacity">We are the best</span>
                    </div>
                    <h1 class="title display-one text-white">Best Medical Course Website<br></h1>
                    <div class="read-more-btn mt--40">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" href="/login">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">Join us now</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>

                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                   
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a>
                    <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                   
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>