<% if (messages.error) { %>
    <div style="color: red;">
        <%= messages.error %>
    </div>
<% } %>

<% if (messages.success) { %>
    <div style="color: green;">
        <%= messages.success %>
    </div>
<% } %>
