<%- include('header') %>
    <br>
    <br>
    <br>
    <!-- Start Banner Area -->
    <div class="rbt-banner-area header-transperent-spacer">
        <div class="wrapper">
            <div class="container">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner-content text-center">
                            <div class="inner">
                                <h1 class="title">Forgot Password?</h1>
                                <p class="description">Enter your email address below, and we'll email instructions for
                                    setting a new one.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->

    <!-- Start Forgot Password Form Area -->
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="rbt-contact-form contact-form-style-1">
                    <form id="forgot-password-form" action="/forgot-password" method="post">
                        <div class="form-group">
                            <input name="username" type="email" required>
                            <label>Email Address</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-submit-group">
                            <button type="submit"
                                class="rbt-btn btn-md btn-gradient hover-icon-reverse radius-round w-100">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Send Reset Instructions</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forgot Password Form Area -->
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                        <span class="user-info">
                            <span class="icon"><i class="icon-instagram"></i></span>

                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                        <span class="user-info">
                            <span class="icon"><i class="icon-instagram"></i></span>

                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                        <span class="user-info">
                            <span class="icon"><i class="icon-instagram"></i></span>

                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                        <span class="user-info">
                            <span class="icon"><i class="icon-instagram"></i></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                        <span class="user-info">
                            <span class="icon"><i class="icon-instagram"></i></span>

                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <div class="instagram-grid">
                    <a>
                        <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                        <span class="user-info">
                            <span class="icon"><i class="icon-instagram"></i></span>

                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('forgot-password-form').addEventListener('submit', function (e) {
            e.preventDefault();

            const email = this.elements['username'].value;

            fetch('/forgot-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: email })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok. Status: ' + response.status);
                    }
                    return response.text();
                })
                .then(data => {
                    alert('Instructions to reset your password have been sent to ' + email);
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred while trying to send reset instructions.');
                });
        });
    </script>




    <%- include('footer') %>