<%- include('header'); -%>
  <!-- Start Slider Area  -->
  
    <div class="rbt-splash-slider d-flex align-items-center">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-xl-6 order-2 order-xl-1">
                        <div class="inner">
                            <div class="banner-top">
                                <div class="banner-badge-top">
                                    <div class="icon">
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                    <span class="subtitle">+++ Trusted Learners</span>
                                </div>
                            </div>
                            <h1 class="title">One stop solution<br>for
                                <span class="cd-headline slide">
                                    <span class="cd-words-wrapper">
                                        <b class="is-hidden theme-gradient">Medical Courses</b>
                                        <b class="is-visible theme-gradient">Accessible</b>
                                        <b class="is-hidden theme-gradient">Personalized</b>
                                        <b class="is-hidden theme-gradient">Accredited</b>
                                        <b class="is-hidden theme-gradient">Expert-led</b>
                                    </span>
                                </span>
                            </h1>
                            <p class="description">The most <strong>powerful</strong> platform
                                for<strong> Medical Courses</strong> by Clinical Expert.
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-xl-6 order-1 order-xl-2">
                        <div class="video-popup-wrapper">
                            <img class="w-100 rbt-radius" src="assets/images/splash/banner-group-image.png"
                                alt="Video Images">
                            <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation d-none"
                                href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                                <span class="play-icon"></span>
                            </a>
                            <div class="banner-group-shape">
                                <div class="shape-image scene shape-4">
                                    <span data-depth="2">
                                        <img src="assets/images/splash/icons/shape-4.png" alt="Shape Images">
                                    </span>
                                </div>
                                <div class="shape-image scene shape-5">
                                    <span data-depth="-2">
                                        <img src="assets/images/splash/icons/shape-5.png" alt="Shape Images">
                                    </span>
                                </div>
                                <div class="shape-image scene shape-6">
                                    <span data-depth="5">
                                        <img src="assets/images/splash/icons/shape-6.png" alt="Shape Images">
                                    </span>
                                </div>
                                <div class="shape-image scene shape-7">
                                    <span data-depth="-3">
                                        <img src="assets/images/splash/icons/shape-7.png" alt="Shape Images">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://api.whatsapp.com/send/?phone=919730020462&text&type=phone_number&app_absent=0"  target="" class="whatsapp_float"><img src="assets/images/whatsapp-icon.png" alt=""></a>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="splash-service-main position-relative">
                            <div class="service-wrapper service-white">
                                <div class="row g-0">
                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-01.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Flexible Learning Mode</h4>
                                                <p>Learn as per your convenience</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-03.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Expert faculty</h4>
                                                <p>with real-world experience bring practical knowledge to the classroom
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-02.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Globally Accredited</h4>
                                                <p>Course credit valid across the globe</p>
                                            </div>
                                        </div>
                                    </div>

               

                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-04.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Clinical Experience</h4>
                                                <p>Observership available for selected courses
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="shape-wrapper">
            <div class="shape-image shape-1">
                <img src="assets/images/splash/icons/shape-1.png" alt="Shape Images">
            </div>
            <div class="shape-image shape-2">
                <img src="assets/images/splash/icons/shape-2.png" alt="Shape Images">
            </div>
            <div class="shape-image shape-3">
                <img src="assets/images/splash/icons/shape-3.png" alt="Shape Images">
            </div>
        </div>
    </div>
    <!-- End Slider Area  -->

    <!-- Start Coding Quality Area  -->
    <div class="rbt-splash-coding-quality-area bg-color-white rbt-section-gapBottom">
        <div class="wrapper">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-secondary-opacity">All in One</span>
                            <h2 class="title">Why Choose GlobalMed Academy</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <!-- Start Top Feature  -->
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="150" data-sal="slide-up"
                        data-sal-duration="800">
                        <div class="top-features-box h-100 text-center bg-gradient-15">
                            <div class="inner">
                                <div class="content">
                                    <span class="pre-title text-uppercase">Upskilling and Self-paced Learning</span>
                                    <h4 class="title">Best Hybrid Learning Platform</h4>
                                </div>
                                <div class="thumbnail">
                                    <img src="assets/images/splash/topfeature/01.png" alt="Image">
                                </div>
                                <div class="rbt-badge-group">
                                    <span class="rbt-badge">Self Pace Learning</span>
                                    <span class="rbt-badge">Online Lectures</span>
                                    <span class="rbt-badge">Clinical Observerships</span>
                                    <span class="rbt-badge">Doubt clearing sessions</span>
                                    <span class="rbt-badge">& More...</span>
                                </div>
                            </div>
                            <div class="shape-image">
                                <img src="assets/images/splash/icons/sun-shadow-right.png" alt="Shape Images">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Feature  -->

                    <!-- Start Top Feature  -->
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="200" data-sal="slide-up"
                        data-sal-duration="800">
                        <div class="top-features-box h-100 text-center bg-gradient-16">
                            <div class="inner">
                                <div class="content">
                                    <span class="pre-title text-uppercase">Professional Mentorship Platform</span>
                                    <h4 class="title">Let AI connect like minded-Get trained by top doctors</h4>
                                </div>

                                <div class="thumbnail">
                                    <img src="assets/images/splash/topfeature/02.png" alt="Image">
                                </div>
                                <div class="rbt-badge-group">
                                    <span class="rbt-badge">Mentorship</span>
                                    <span class="rbt-badge">Renowned Doctors</span>
                                    <span class="rbt-badge">Networking Opportunities</span>
                                    <span class="rbt-badge">Hone your Clinical Expertise</span>
                                    <span class="rbt-badge">& More...</span>
                                </div>
                            </div>
                            <div class="shape-image">
                                <img src="assets/images/splash/icons/sun-shadow-right-2.png" alt="Shape Images">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Feature  -->

                    <!-- Start Top Feature  -->
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="250" data-sal="slide-up"
                        data-sal-duration="800">
                        <div class="top-features-box h-100 text-center bg-gradient-17">
                            <div class="inner">
                                <div class="content">
                                    <span class="pre-title text-uppercase">Excel in your professional career</span>
                                    <h4 class="title">Learn, practice and excel with confidence</h4>
                                </div>

                                <div class="thumbnail">
                                    <img src="assets/images/splash/topfeature/03.png" alt="Image">
                                </div>

                                <div class="rbt-badge-group">
                                    <span class="rbt-badge">Internships</span>
                                    <span class="rbt-badge">Corporate Career</span>
                                    <span class="rbt-badge">Individual Practice</span>
                                    <span class="rbt-badge">Career Guidance</span>
                                    <span class="rbt-badge">& More...</span>
                                </div>

                            </div>
                            <div class="shape-image">
                                <img src="assets/images/splash/icons/sun-shadow-right-3.png" alt="Shape Images">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Feature  -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Coding Quality Area  -->
    <!-- Start Elements Presentation Area  -->
    <div class="rbt-elements-presentation-area overflow-hidden bg-color-white rbt-section-gapBottom pt--80">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-primary-opacity">Start your learning journey with us!.</span>
                        <h2 class="title"><strong class="theme-gradient">100+</strong> Medical Courses included.</h2>
                    </div>
                </div>
            </div>

            <div class="scroll-animation-all-wrapper">
                <div class="scroll-animation-wrapper mt--30">
                    <div class="scroll-animation scroll-right-left">
                        <!-- Start Single Testimonial  -->
                        <div class="single-column-100">
                            <div class="rbt-categori-list">
                                <a href="/course-masonry"><i class="feather-credit-card"></i>All Courses</a>
                                <a href="#"><i class="feather-folder"></i>MBBS</a>
                                <a href="#"><i class="feather-heart"></i>BAMS</a>
                                <a href="#"><i class="feather-link-2"></i>BUMS</a>
                                <a href="#"><i class="feather-layers"></i>BDS</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Diabetes Mellitus</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Clinical Cardiology</a>
                                <a href="/course-masonry"><i class="feather-grid"></i>Critical Care</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Obs & Gynae</a>
                                <a href="/course-masonry"><i class="feather-users"></i>Internal Medicine</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Pediatrics</a>
                                <a href="/course-masonry"><i class="feather-image"></i>ECG Interpretation</a>
                                <a href="#"><i class="feather-dollar-sign"></i>Certificate</a>
                                <a href="#"><i class="feather-percent"></i>Fellowship</a>
                                <a href="#"><i class="feather-message-square"></i>Advanced Certificate</a>
                                <a href="/course-details"><i class="feather-layout"></i>Course-Details</a>
                                <a href="#"><i class="feather-map"></i>Only MBBS</a>
                                <!-- <a href="#"><i class="feather-search"></i> Search Style</a>
                                <a href="#"><i class="feather-instagram"></i> Instagram Style</a>
                                <a href="#"><i class="feather-list"></i> List Style</a>
                                <a href="#"><i class="feather-airplay"></i> Creative Tab</a> -->
                            </div>
                        </div>
                        <!-- End Single Testimonial  -->
                    </div>
                </div>

                <div class="scroll-animation-wrapper mt--30">
                    <div class="scroll-animation scroll-left-right">
                        <!-- Start Single Testimonial  -->
                        <div class="single-column-100">
                            <div class="rbt-categori-list">
                                <a href="/course-masonry"><i class="feather-credit-card"></i>All Courses</a>
                                <a href="#"><i class="feather-folder"></i>MBBS</a>
                                <a href="#"><i class="feather-heart"></i>BAMS</a>
                                <a href="#"><i class="feather-link-2"></i>BUMS</a>
                                <a href="#"><i class="feather-layers"></i>BDS</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Diabetes Mellitus</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Clinical Cardiology</a>
                                <a href="/course-masonry"><i class="feather-grid"></i>Critical Care</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Obs & Gynae</a>
                                <a href="/course-masonry"><i class="feather-users"></i>Internal Medicine</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Pediatrics</a>
                                <a href="/course-masonry"><i class="feather-image"></i>ECG Interpretation</a>
                                <a href="#"><i class="feather-award"></i>Certificate</a>
                                <a href="#"><i class="feather-award"></i>Fellowship</a>
                                <a href="#"><i class="feather-message-square"></i>Advanced Certificate</a>
                                <a href="/course-details"><i class="feather-layout"></i>Course-Details</a>
                                <a href="#"><i class="feather-map"></i>Only MBBS</a>
                            </div>
                        </div>
                        <!-- End Single Testimonial  -->
                    </div>
                </div>

                <div class="scroll-animation-wrapper mt--30">
                    <div class="scroll-animation scroll-right-left">
                        <!-- Start Single Testimonial  -->
                        <div class="single-column-100">
                            <div class="rbt-categori-list"> 
                                <a href="#"><i class="feather-heart"></i>BAMS</a>
                                <a href="/course-masonry"><i class="feather-credit-card"></i>All Courses</a>
                                <a href="#"><i class="feather-folder"></i>MBBS</a> <a href="/course-masonry"><i class="feather-layout"></i>Course-Details</a>
                               
                             <a href="/course-masonry"><i class="feather-book"></i>Obs & Gynae</a>
                                <a href="#"><i class="feather-layers"></i>BDS</a>
                                <a href="#"><i class="feather-award"></i>Certificate</a><a href="/course-masonry"><i class="feather-book"></i>Diabetes Mellitus</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Clinical Cardiology</a>
                                <a href="/course-masonry"><i class="feather-grid"></i>Critical Care</a>
                                
                                <a href="/course-masonry"><i class="feather-book-open></i>Internal Medicine</a>
                                
                                <a href="/course-masonry"><i class="feather-image"></i>ECG Interpretation</a>
                                   <a href="#"><i class="feather-link-2"></i>BUMS</a>
                                <a href="#"><i class="feather-award"></i>Fellowship</a>
                                <a href="#"><i class="feather-message-square"></i>Advanced Certificate</a>
                               <a href="/course-masonry"><i class="feather-book"></i>Pediatrics</a>
                                <a href="#"><i class="feather-map"></i>Only MBBS</a>
                            </div>
                        </div>
                        <!-- End Single Testimonial  -->
                    </div>
                </div>
            </div>


           
        </div>
    </div>
    <!-- End Elements Presentation Area  -->

    <!-- Start Home Demo Area  -->
    <div class="home-demo-area rbt-section-gap bg-gradient-6 splash-masonary-wrapper-activation">
        <div class="wrapper plr--120 plr_lg--30 plr_md--30 plr_sm--30 plr_mobile--15">
            <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h2 class="title">Trending Courses</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="demo-presentation-mesonry splash-mesonry-list grid-metro3">
                        <div class="resizer"></div>

                        <!-- Start Single Demo  -->
                        <div class="maso-item marketplace career instructor">
                            <div class="single-demo">
                                <a class="single-demo-link">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-1.png" alt="Education Images">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Advanced<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item marketplace career">
                            <div class="single-demo">
                                <a class="single-demo-link" href="/course-masonry#fellowshipplace.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-2.png" alt="Education Images">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Fellowship<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item university">
                            <div class="single-demo">
                                <a class="single-demo-link">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-3.png" alt="Education Images">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Fellowship<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item university">
                            <div class="single-demo">
                                <a class="single-demo-link">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-4.png" alt="Education Images">
                                      
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Advanced<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item instructor career marketplace">
                            <div class="single-demo">
                                <a class="single-demo-link" href="/course-masonry#advancedcourses-elegant.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-5.png" alt="Education Images">
                                
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Advanced<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item career university instructor">
                            <div class="single-demo">
                                <a class="single-demo-link">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-6.png" alt="Education Images">
                                       
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Fellowship<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Home Demo Area  -->

    <!-- Start Plugin Presentation Area  -->
    <div class="rbt-pluginpresentation-area bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Exclusive Partners</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--60 g-5">
                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/eIntegrity_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/HEE_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/Intensive_care_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/NHSGEP_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/NHSLW_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCGP_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCOA_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCP_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCPE_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCPSG_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/UOL_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

            </div>
        </div>
    </div>
    <!-- End Plugin Presentation Area  -->

    <!-- Start Blog Presentation Area  -->
    <!-- Start Testimonial Area  -->
    <!-- <div class="rbt-splash-testimonial-area bg-color-white overflow-hidden position-relative">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-primary-opacity">A FEW WORDS FROM OUR CLIENTS</span>
                            <br>
                            <br>
                            <h2 class="title">What People Are Saying About
                                <span class="header-caption">
                                    <span class="cd-headline zoom">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">GlobalMed Academy</b>
                                        </span>
                                    </span>
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="splash-testimonial-all-wrapper pb--60">

            <div class="scroll-animation-wrapper no-overlay mt--50">
                <div class="scroll-animation scroll-right-left">
                    <!-- Start Single Testimonial  -->
                    <!-- <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3"><strong>Great resource for medical professionals.</strong>  User-friendly website with comprehensive content</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Dr. Ankit Goyal</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <!-- <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">Impressed with the quality of courses.<strong> The website is well-organized and easy to navigate </strong>.
                                       </p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Dr. Shruti Maheshwari</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <!-- <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">A goldmine of information. <strong>The variety of courses available is commendable.</strong>
                                        Thank you!</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Dr. Swathi Sundar</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Single Testimonial  -->
                    <!-- Start Single Testimonial  -->
                    <!-- <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3"><strong>Highly recommend for continuous learning.</strong> The website is intuitive and the content is up-to-date.</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">Dr. Prerna Gupta</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Single Testimonial  -->
                </div>
            </div>
        </div>
    </div>
 <!-- Request for More Information button -->
 <div class="request-button" onclick="toggleForm()">Request for More Information</div>

 <!-- Request for More Information form -->
 <div id="request-form" class="request-info">
   <button class="close-button" onclick="toggleForm()">Close</button>
   <h2>Request for More Information</h2>
   <form action="/submitRequestForMore" method="post">
     <label for="name">Name:</label>
     <input type="text" id="name" name="name" required>

     <label for="phone">Phone number:</label>
     <input type="tel" id="phone" name="phone" required>

     <label for="email">Email:</label>
     <input type="email" id="email" name="email" required>

     <label for="course">Course Interested:</label>
     <input type="text" id="course" name="course" required>

     <button type="submit">Submit</button>
   </form>
 </div>

 <script>
   function toggleForm() {
     var form = document.getElementById("request-form");
     form.style.display = form.style.display === "block" ? "none" : "block";
   }
 </script>
    <!-- End Testimonial Area  -->
    <%- include('footer'); -%>