<%- include('header'); -%>
  <!-- Start Slider Area  -->
    <div class="rbt-splash-slider d-flex align-items-center">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-xl-6 order-2 order-xl-1">
                        <div class="inner">
                            <div class="banner-top">
                                <div class="banner-badge-top">
                                    <div class="icon">
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                    <span class="subtitle">+++ Trusted Learners</span>
                                </div>
                            </div>
                            <h1 class="title">One stop solution<br>for
                                <span class="cd-headline slide">
                                    <span class="cd-words-wrapper">
                                        <b class="is-hidden theme-gradient">Medical Courses</b>
                                        <b class="is-visible theme-gradient">Accessible</b>
                                        <b class="is-hidden theme-gradient">Personalized</b>
                                        <b class="is-hidden theme-gradient">Accredited</b>
                                        <b class="is-hidden theme-gradient">Expert-led</b>
                                    </span>
                                </span>
                            </h1>
                            <p class="description">The most <strong>powerful</strong> platform
                                for<strong> Medical Courses</strong> by Clinical Expert.
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-xl-6 order-1 order-xl-2">
                        <div class="video-popup-wrapper">
                            <img class="w-100 rbt-radius" src="assets/images/splash/banner-group-image.png"
                                alt="Video Images">
                            <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation d-none"
                                href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                                <span class="play-icon"></span>
                            </a>
                            <div class="banner-group-shape">
                                <div class="shape-image scene shape-4">
                                    <span data-depth="2">
                                        <img src="assets/images/splash/icons/shape-4.png" alt="Shape Images">
                                    </span>
                                </div>
                                <div class="shape-image scene shape-5">
                                    <span data-depth="-2">
                                        <img src="assets/images/splash/icons/shape-5.png" alt="Shape Images">
                                    </span>
                                </div>
                                <div class="shape-image scene shape-6">
                                    <span data-depth="5">
                                        <img src="assets/images/splash/icons/shape-6.png" alt="Shape Images">
                                    </span>
                                </div>
                                <div class="shape-image scene shape-7">
                                    <span data-depth="-3">
                                        <img src="assets/images/splash/icons/shape-7.png" alt="Shape Images">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://api.whatsapp.com/send/?phone=919730020462&text&type=phone_number&app_absent=0"  target="" class="whatsapp_float"><img src="assets/images/whatsapp-icon.png" alt=""></a>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="splash-service-main position-relative">
                            <div class="service-wrapper service-white">
                                <div class="row g-0">
                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-01.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Flexible Learning Mode</h4>
                                                <p>Learn as per your convenience</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-03.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Expert faculty</h4>
                                                <p>with real-world experience bring practical knowledge to the classroom
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-02.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Globally Accredited</h4>
                                                <p>Course credit valid across the globe</p>
                                            </div>
                                        </div>
                                    </div>

               

                                    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                        <div class="service service__style--1">
                                            <div class="icon">
                                                <img src="assets/images/icons/icons-04.png" alt="Icon Images">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Clinical Experience</h4>
                                                <p>Observership available for selected courses
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="shape-wrapper">
            <div class="shape-image shape-1">
                <img src="assets/images/splash/icons/shape-1.png" alt="Shape Images">
            </div>
            <div class="shape-image shape-2">
                <img src="assets/images/splash/icons/shape-2.png" alt="Shape Images">
            </div>
            <div class="shape-image shape-3">
                <img src="assets/images/splash/icons/shape-3.png" alt="Shape Images">
            </div>
        </div>
    </div>
    <!-- End Slider Area  -->

    <!-- Start Coding Quality Area  -->
    <div class="rbt-splash-coding-quality-area bg-color-white rbt-section-gapBottom">
        <div class="wrapper">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-secondary-opacity">All in One Template</span>
                            <h2 class="title">Why Choose GlobalMed Academy</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <!-- Start Top Feature  -->
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="150" data-sal="slide-up"
                        data-sal-duration="800">
                        <div class="top-features-box h-100 text-center bg-gradient-15">
                            <div class="inner">
                                <div class="content">
                                    <span class="pre-title text-uppercase">Upskill Healthcare Professionals</span>
                                    <h4 class="title">Best Hybrid Learning Platform</h4>
                                </div>
                                <div class="thumbnail">
                                    <img src="assets/images/splash/topfeature/01.png" alt="Image">
                                </div>
                                <div class="rbt-badge-group">
                                    <span class="rbt-badge">Self Pace Learning</span>
                                    <span class="rbt-badge">Online Lectures</span>
                                    <span class="rbt-badge">Clinical Observations</span>
                                    <span class="rbt-badge">Doubt clearing sessions</span>
                                    <span class="rbt-badge">& More...</span>
                                </div>
                            </div>
                            <div class="shape-image">
                                <img src="assets/images/splash/icons/sun-shadow-right.png" alt="Shape Images">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Feature  -->

                    <!-- Start Top Feature  -->
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="200" data-sal="slide-up"
                        data-sal-duration="800">
                        <div class="top-features-box h-100 text-center bg-gradient-16">
                            <div class="inner">
                                <div class="content">
                                    <span class="pre-title text-uppercase">Professional Networking Platform</span>
                                    <h4 class="title">Let AI connect like minded</h4>
                                </div>

                                <div class="thumbnail">
                                    <img src="assets/images/splash/topfeature/02.png" alt="Image">
                                </div>
                                <div class="rbt-badge-group">
                                    <span class="rbt-badge">Mentorship</span>
                                    <span class="rbt-badge">Professional Network</span>
                                    <span class="rbt-badge">Referral network</span>
                                    <span class="rbt-badge">Case clarifications</span>
                                    <span class="rbt-badge">& More...</span>
                                </div>
                            </div>
                            <div class="shape-image">
                                <img src="assets/images/splash/icons/sun-shadow-right-2.png" alt="Shape Images">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Feature  -->

                    <!-- Start Top Feature  -->
                    <div class="col-lg-4 col-md-6 col-12" data-sal-delay="250" data-sal="slide-up"
                        data-sal-duration="800">
                        <div class="top-features-box h-100 text-center bg-gradient-17">
                            <div class="inner">
                                <div class="content">
                                    <span class="pre-title text-uppercase">Grow in professional Career</span>
                                    <h4 class="title">Artificial Intelligence driven Profile matching</h4>
                                </div>

                                <div class="thumbnail">
                                    <img src="assets/images/splash/topfeature/03.png" alt="Image">
                                </div>

                                <div class="rbt-badge-group">
                                    <span class="rbt-badge">Internships</span>
                                    <span class="rbt-badge">Hospital Administration</span>
                                    <span class="rbt-badge">Corporate Hospitals</span>
                                    <span class="rbt-badge">Medical College</span>
                                    <span class="rbt-badge">Diagnosis centers</span>
                                    <span class="rbt-badge">& More...</span>
                                </div>

                            </div>
                            <div class="shape-image">
                                <img src="assets/images/splash/icons/sun-shadow-right-3.png" alt="Shape Images">
                            </div>
                        </div>
                    </div>
                    <!-- End Top Feature  -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Coding Quality Area  -->
    <!-- Start Elements Presentation Area  -->
    <div class="rbt-elements-presentation-area overflow-hidden bg-color-white rbt-section-gapBottom pt--80">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-primary-opacity">Start your learning journey with us!.</span>
                        <h2 class="title"><strong class="theme-gradient">100+</strong> Medical Courses included.</h2>
                    </div>
                </div>
            </div>

            <div class="scroll-animation-all-wrapper">
                <div class="scroll-animation-wrapper mt--30">
                    <div class="scroll-animation scroll-right-left">
                        <!-- Start Single Testimonial  -->
                        <div class="single-column-100">
                            <div class="rbt-categori-list">
                                <a href="/course-masonry"><i class="feather-credit-card"></i>All Courses</a>
                                <a href="#"><i class="feather-folder"></i>MBBS</a>
                                <a href="#"><i class="feather-heart"></i>BAMS</a>
                                <a href="#"><i class="feather-link-2"></i>BUMS</a>
                                <a href="#"><i class="feather-award"></i>BDMS</a>
                                <a href="#"><i class="feather-layers"></i>BDS</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Diabetes Mellitus</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Clinical Cardiology</a>
                                <a href="/course-masonry"><i class="feather-grid"></i>Critical Care</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Obs & Gynae</a>
                                <a href="/course-masonry"><i class="feather-users"></i>Internal Medicine</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Pediatrics</a>
                                <a href="/course-masonry"><i class="feather-image"></i>ECG Interpretation</a>
                                <a href="#"><i class="feather-dollar-sign"></i>Certificate</a>
                                <a href="#"><i class="feather-percent"></i>Fellowship</a>
                                <a href="#"><i class="feather-message-square"></i>Advanced Certificate</a>
                                <a href="/course-details"><i class="feather-layout"></i>Course-Details</a>
                                <a href="#"><i class="feather-map"></i>Only MBBS</a>
                                <!-- <a href="#"><i class="feather-search"></i> Search Style</a>
                                <a href="#"><i class="feather-instagram"></i> Instagram Style</a>
                                <a href="#"><i class="feather-list"></i> List Style</a>
                                <a href="#"><i class="feather-airplay"></i> Creative Tab</a> -->
                            </div>
                        </div>
                        <!-- End Single Testimonial  -->
                    </div>
                </div>

                <div class="scroll-animation-wrapper mt--30">
                    <div class="scroll-animation scroll-left-right">
                        <!-- Start Single Testimonial  -->
                        <div class="single-column-100">
                            <div class="rbt-categori-list">
                                <a href="/course-masonry"><i class="feather-credit-card"></i>All Courses</a>
                                <a href="#"><i class="feather-folder"></i>MBBS</a>
                                <a href="#"><i class="feather-heart"></i>BAMS</a>
                                <a href="#"><i class="feather-link-2"></i>BUMS</a>
                                <a href="#"><i class="feather-award"></i>BDMS</a>
                                <a href="#"><i class="feather-layers"></i>BDS</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Diabetes Mellitus</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Clinical Cardiology</a>
                                <a href="/course-masonry"><i class="feather-grid"></i>Critical Care</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Obs & Gynae</a>
                                <a href="/course-masonry"><i class="feather-users"></i>Internal Medicine</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Pediatrics</a>
                                <a href="/course-masonry"><i class="feather-image"></i>ECG Interpretation</a>
                                <a href="#"><i class="feather-award"></i>Certificate</a>
                                <a href="#"><i class="feather-award"></i>Fellowship</a>
                                <a href="#"><i class="feather-message-square"></i>Advanced Certificate</a>
                                <a href="/course-details"><i class="feather-layout"></i>Course-Details</a>
                                <a href="#"><i class="feather-map"></i>Only MBBS</a>
                            </div>
                        </div>
                        <!-- End Single Testimonial  -->
                    </div>
                </div>

                <div class="scroll-animation-wrapper mt--30">
                    <div class="scroll-animation scroll-right-left">
                        <!-- Start Single Testimonial  -->
                        <div class="single-column-100">
                            <div class="rbt-categori-list"> 
                                <a href="#"><i class="feather-heart"></i>BAMS</a>
                                <a href="/course-masonry"><i class="feather-credit-card"></i>All Courses</a>
                                <a href="#"><i class="feather-folder"></i>MBBS</a> <a href="/course-masonry"><i class="feather-layout"></i>Course-Details</a>
                               
                             <a href="/course-masonry"><i class="feather-book"></i>Obs & Gynae</a>
                                <a href="#"><i class="feather-award"></i>BDMS</a>
                                <a href="#"><i class="feather-layers"></i>BDS</a>
                                <a href="#"><i class="feather-award"></i>Certificate</a><a href="/course-masonry"><i class="feather-book"></i>Diabetes Mellitus</a>
                                <a href="/course-masonry"><i class="feather-book"></i>Clinical Cardiology</a>
                                <a href="/course-masonry"><i class="feather-grid"></i>Critical Care</a>
                                
                                <a href="/course-masonry"><i class="feather-book-open></i>Internal Medicine</a>
                                
                                <a href="/course-masonry"><i class="feather-image"></i>ECG Interpretation</a>
                                   <a href="#"><i class="feather-link-2"></i>BUMS</a>
                                <a href="#"><i class="feather-award"></i>Fellowship</a>
                                <a href="#"><i class="feather-message-square"></i>Advanced Certificate</a>
                               <a href="/course-masonry"><i class="feather-book"></i>Pediatrics</a>
                                <a href="#"><i class="feather-map"></i>Only MBBS</a>
                            </div>
                        </div>
                        <!-- End Single Testimonial  -->
                    </div>
                </div>
            </div>


           
        </div>
    </div>
    <!-- End Elements Presentation Area  -->

    <!-- Start Home Demo Area  -->
    <div class="home-demo-area rbt-section-gap bg-gradient-6 splash-masonary-wrapper-activation">
        <div class="wrapper plr--120 plr_lg--30 plr_md--30 plr_sm--30 plr_mobile--15">
            <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h2 class="title">Trending Courses</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="demo-presentation-mesonry splash-mesonry-list grid-metro3">
                        <div class="resizer"></div>

                        <!-- Start Single Demo  -->
                        <div class="maso-item marketplace career instructor">
                            <div class="single-demo">
                                <a class="single-demo-link" href="01-main-demo.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-1.png" alt="Education Images">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Advanced<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item marketplace career">
                            <div class="single-demo">
                                <a class="single-demo-link" href="12-marketplace.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-2.png" alt="Education Images">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Fellowship<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item university">
                            <div class="single-demo">
                                <a class="single-demo-link" href="04-kindergarten.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-3.png" alt="Education Images">
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Fellowship<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item university">
                            <div class="single-demo">
                                <a class="single-demo-link" href="13-university-classic.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-4.png" alt="Education Images">
                                      
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Advanced<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item instructor career marketplace">
                            <div class="single-demo">
                                <a class="single-demo-link" href="14-home-elegant.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-5.png" alt="Education Images">
                                
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Advanced<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                        <!-- Start Single Demo  -->
                        <div class="maso-item career university instructor">
                            <div class="single-demo">
                                <a class="single-demo-link" href="09-gym-coaching.html">
                                    <div class="thumbnail">
                                        <img src="assets/images/splash/demo-6.png" alt="Education Images">
                                       
                                    </div>
                                    <div class="content">
                                        <h3 class="title">Fellowship<span class="label-new">Trending</span></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End Single Demo  -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Home Demo Area  -->

    <!-- Start Plugin Presentation Area  -->
    <div class="rbt-pluginpresentation-area bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Exclusive Partners</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--60 g-5">
                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/eIntegrity_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/HEE_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/Intensive_care_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/NHSGEP_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/NHSLW_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCGP_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCOA_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCP_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCPE_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/RCPSG_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

                <!-- Start Single Plugin  -->
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-6 rbt-feature-column" data-sal-delay="150"
                    data-sal="slide-up" data-sal-duration="800">
                    <div class="rbt-feature-plugin">
                        <div class="inner">
                            <div class="">
                                <img src="assets/images/splash/plugin/UOL_logo-removebg-preview.png" alt="Plugin Images">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Plugin  -->

            </div>
        </div>
    </div>
    <!-- End Plugin Presentation Area  -->

    <!-- Start Blog Presentation Area  -->
    <!-- Start Testimonial Area  -->
    <div class="rbt-splash-testimonial-area bg-color-white overflow-hidden position-relative">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-primary-opacity">A FEW WORDS FROM OUR CLIENTS</span>
                            <br>
                            <br>
                            <h2 class="title">What People Are Saying About
                                <span class="header-caption">
                                    <span class="cd-headline zoom">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible theme-gradient">GlobalMed Academy</b>
                                        </span>
                                    </span>
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="splash-testimonial-all-wrapper pb--60">

            <div class="scroll-animation-wrapper no-overlay mt--50">
                <div class="scroll-animation scroll-right-left">

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3"><strong>Beautiful theme!</strong> (Of course, that’s why I got
                                        it). But most
                                        importantly, thank you for the quick responses from your customer support. I was
                                        finding it hard to install and customise the demo but he guided</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">teechelle</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3"><strong>The design Quality is perfect!</strong> Customer
                                        Support is the best so
                                        far. Thank you!</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">3anbo3d</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">The theme itself suits my needs, but the support is the
                                        superstar
                                        that earns this theme and the team behind <strong>it a 5 stars rating</strong>.
                                        Kudos!</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">arikurnia1</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">I needed support on a issue to install the theme demo, the CS
                                        team is super efficient, they <strong>fixed the issue in few hours.</strong>
                                        Thank you!</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">stephanieprugne</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3"><strong>Awesome Customer support.</strong> Fixed issues in
                                        less than 24 Hours. Very professional and prompt.</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">taggrwal</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">These guys are the REAL deal. Fantastic website and even
                                        <strong>better customer support</strong>. Highly recommend and will work with
                                        them again.
                                    </p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">phil148</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">The theme itself suits my needs, but the support is the
                                        superstar that earns this theme and the team behind it a <strong>5 stars
                                            rating</strong>. Kudos!</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">arikurnia1</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">I can only <strong>recommend the theme!</strong> Very nice
                                        design, good adjustment options.The support is very friendly and incredibly
                                        helpful. Thanks!</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">timofk</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->

                    <!-- Start Single Testimonial  -->
                    <div class="single-column-20 bg-theme-gradient-odd">
                        <div class="rbt-testimonial-box style-2">
                            <div class="inner">
                                <div class="icons">
                                    <img src="assets/images/splash/icons/rating.png" alt="Clint Images">
                                </div>
                                <div class="description">
                                    <p class="subtitle-3">The theme is awesome,and the support it's just fantastic,
                                        solved my problems in few hours.5 stars are not enough</p>
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="assets/images/splash/icons/envato.png" alt="Clint Images">
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">alesmp82</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                </div>
            </div>
        </div>

        <!-- <div class="line-shape text-center">
            <img src="assets/images/splash/icons/line-shape.png" alt="Shape">
        </div> -->
    </div>
    <!-- End Testimonial Area  -->

    <!-- Start Accordion Area  -->
    <div
        class="rbt-accordion-area accordion-style-1 rbt-accordion-color-white bg-color-darker rbt-section-gapBottom pt--60 pt_sm--0 overflow-hidden position-relative top-circle-shape-top overlpping-call-to-action">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-sm-12">

                    <div class="section-title text-center pb--60">
                        <div class="client-group-image">
                            <img src="assets/images/splash/icons/group-image.png" alt="group image" class="mb--30">
                        </div>
                        <span class="subtitle bg-secondary-opacity">Check out our FAQ section to see if we can
                            help.</span>
                        <h2 class="title mb_sm--0 text-center color-white-off">Do you have any Question</h2>
                    </div>
                    <div class="rbt-accordion-style rbt-accordion-02 accordion">
                        <div class="accordion" id="accordionExamplea1">
                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is eligibility of this course? 
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        Any Physicians with MBBS with valid MCI registration or final year MBBS students are eligible to join all programs. However, some certificate programs are available to Ayush and BDS graduates as well; please refer to icons and eligibility. All international students are eligible for certificate and advance certificate programs. 
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How do I join? 
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        Get in touch with us at support@globalmedacademy.com or click at join now icon at the webpage and complete the payment process.  <a target="_blank"
                                            href="support@globalmedacademy.com"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        How does the course delivery work?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        GlobalMed Academy offers self-paced topics and live lectures via our learning management system. Login to LMS and you would be guided through the process. 
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        How does observership work? 
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        At GlobalMed Academy, clinical observership is part of the fellowship . This program helps students to gain experience in a hospital setting and perform a variety of tasks, such as being part of the decision-making process for patient care, as well as learning how to utilize equipment and observe experienced doctors performing procedures. 
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        How does GlobalMed Academy access students?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        There would be online quiz post each segment. This would be done via LMS and once passing marks are secured in quiz, students can move to next level. 

                                        Here are key assesments.
                                        <br>
                                        <br>
1.Online quiz after each segment. <br>
2.Online exam after completing all modules. 
<br> 3.If there is requirement of program director, there would be viva-voce.
<br> 4.For Fellowship students, All quizzes, online exam and Viva must be completed before observership. 
<br>5.Some hospitals may conduct its own exam after completion of observership. Student must share the certificate of completion of observership once its completed. 
<br>6.After completion of all the steps GlobalMed Academy would award certificate. 
<br>7.For each online exam there would be three attempts without any charges. However if there is need for further attempts then there would be examination fees applicable. 
<br>8.There is no fix schedule required for each online exam. Students may complete as per their schedule. 
<br>9.For viva-voice there would be schedule assigned and students must clear in first attempt. Next attempt would be chargeable and dates would be based on the availability of instructors

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        What are the accreditations and recognition of course? 
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        There are multiple accreditations available for each course and they are mentioned in brochure. 
<br> GlobalMed Academy does not offer any certificate using which a healthcare professional can call himself/herself specialist (i.e. diabetologist, cardiologist etc). However it imparts  clinical knowledge and global trend about the specific topic so that student is able to give better care to the patients. In any way this program does not replace formal medical education, however it supports continuous learning of health care professionals. 
<br> None of the  programme is recognized by Medical Council of India or any other state medical council. 

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        What are minimum system requirements to access the course?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        <p>Our courses can be accessed with Windows 7.0 or above or Mac OS X10.15 and above in any browser with minimum 1 GB RAM. However for best experience we recommend at least 10 MBPS internet connection and 2GB RAM. 
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        What kind of certificate I will get? 
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        <p>Electronic certificate with enrolment ID will be sent to registered e-mail address within 24 hours of completion of course. We also send framed certificate to physical address, if required. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        What is the placement support provided? 
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        <p>GlobalMed Academy does not provide any placement guarantee however our partner hospitals continuously need qualified professionals and those jobs would be posted on the LMS and we would be able to connect with right hospital</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        Can I cancel my course before completion?  
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                                    <div class="accordion-body card-body">
                                        <p>Yes, courses can be cancelled as per the refund policy. GlobalMed Academy offers 14 days no question asked refund policy for the courses un-touched (i.e. no login or access to any course). Please refer to detailed terms and condition page for more details. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Accordion Area  -->
    <%- include('footer'); -%>