
<title>Reset Password</title>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  form {
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  input[type=password],
  input[type=submit] {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  input[type=submit] {
    background: #191c40;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background: #191c40;
  }
</style>
</head>
<body>
  <form id="resetPasswordForm" action="/reset-password/<%= token %>" method="post">
    <h2>Reset Password</h2>
    <input type="password" id="password" name="password" placeholder="Enter new password" required />
    <input type="submit" value="Reset Password" />
  </form>

  <script>
    document.getElementById('password').addEventListener('input', function() {
      const password = this.value;
      document.getElementById('length').classList.toggle('fulfilled', password.length >= 8);
      document.getElementById('digit').classList.toggle('fulfilled', /\d/.test(password));
      document.getElementById('lowercase').classList.toggle('fulfilled', /[a-z]/.test(password));
      document.getElementById('uppercase').classList.toggle('fulfilled', /[A-Z]/.test(password));
      document.getElementById('non-alphanumeric').classList.toggle('fulfilled', /\W|_/.test(password));
    });

    window.onload = function() {
      // Check for message query parameter
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get('message');

      if (message) {
        alert(message); // Replace with a more sophisticated modal/popup if you prefer
        window.location.href = '/loginn'; // Redirect to the login page after showing the message
      }
    }
  </script>
</body>



