<%-include('header')-%>

<div class="rbt-overlay-page-wrapper">

    <div class="breadcrumb-image-container breadcrumb-style-max-width">
        <div class="breadcrumb-image-wrapper">
            <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
        </div>
        <div class="breadcrumb-content-top text-center">
            <h1 class="title">Terms and Conditions</h1>
            <ul class="page-list">
                <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                <li>
                    <div class="icon-right"><i class="feather-chevron-right"></i></div>
                </li>
                <li class="rbt-breadcrumb-item active">Terms & Conditions</li>
            </ul>
        </div>
    </div>


    <div class="rbt-putchase-guide-area breadcrumb-style-max-width rbt-section-gapBottom">
        <div class="rbt-article-content-wrapper">
            <div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
                <img class="w-100" src="assets/images/blog/blog-card-01.jpg" alt="Blog Images">
            </div>
            <div class="content">
                <h4 style="color: rgb(0, 75, 161);">Acceptance of Terms & Conditions</h4>
                <ol>
                    By accessing or using the GlobalMED Academy website (www.globalmedacademy.com) or by submitting an order for our products or services, including any e-learning courses, you acknowledge that you have read, understood, and agree to be bound by the following terms and conditions. It is important to carefully read these terms before submitting your order as they govern the provision of products or services to you. These terms outline our identity, delivery procedures, contract modification or termination processes, problem-resolution protocols, and other crucial information. All rights not explicitly granted by these terms are reserved. It is your responsibility to regularly review this agreement for any revisions, as they may be made at any time without prior notice. If you do not agree to these terms, please refrain from using the platform
                </ol>
                <h4 style="color: rgb(0, 75, 161);">General</h4>

                <ol>
                    We are responsible for providing, managing, and maintaining your access, login credentials, and support to the best of our ability. It is important to note that you are strictly prohibited from modifying, distributing, or transmitting any product or copyrighted material without explicit permission. Furthermore, you are not permitted to grant such permissions to any other individuals or entities.
                </ol>
                <h4 style="color: rgb(0, 75, 161);">Grant Of License</h4>

                <ol>
                    Upon your payment, we grant you a limited, non-exclusive, non-sublicensable, non-transferable, and revocable license to use the e-learning courses you have purchased (referred to as "the Products"). It is important to understand that this license is solely for your personal use and cannot be shared or exchanged with others. The terms and conditions outlined herein govern your use of the Products under this license.
                </ol>
                <h4 style="color: rgb(0, 75, 161);">Ownership and Intellectual Property</h4>

                <ol>
                    GlobalMED Academy, including its website, content, courses, and all associated intellectual property, is owned and operated by Anvik Value Chain Private Limited with its registered address at 12 B Sanegurji, Vasahat, Maharashtra, India- 416012. All rights to the platform's content and intellectual property are reserved.
                </ol>
                <h4 style="color: rgb(0, 75, 161);">
                    User Responsibilities
                    </h4>

                <ol>
                    <li><b>Eligibility:</b> Users must be at least 18 years old to access and use the platform. If you are accessing the platform on behalf of an organization, you confirm that you have the authority to bind that organization to these terms and conditions.</li>
                    <li><b>Account Creation:</b>To access certain features of GlobalMED Academy, you may need to create an account. You agree to provide accurate, current, and complete information during the registration process. You are responsible for maintaining the confidentiality of your account credentials and solely responsible for all activities under your account.</li>
                    <li><b>Prohibited activities</b>You agree not to engage in any of the following activities:

                        •	Violating any applicable laws or regulations. <br>
                        •	Impersonating any person or entity or falsely claiming an affiliation. <br>
                        •	Attempting to interfere with the proper functioning of the platform. <br>
                        •	Engaging in any activity that could disrupt or compromise the security or integrity of the platform.
                        <br>•	Uploading or transmitting any viruses, malware, or other harmful code.
                        <br>•	Engaging in any form of unauthorized advertising or solicitation. 
                        <li><b>User Behaviour</b> When using the Platform, you agree to adhere to the following guidelines:
                           <br> •	You must not engage in any form of harassment towards other users, students, attendees, support agents, faculty, staff, or visitors.
                           <br> •	You are responsible for maintaining a mutually respectful environment within student groups, refraining from actions that promote disharmony or hostility.
                           <br> •	You must not share or post any secured testing materials online.
                           <br> •	If you become aware of any instances of cheating or violations of these terms by other users, you should promptly notify us at support@GlobalMedAcademy.com and comply with the specific code of conduct applicable to the program in which the user is enrolled.
                            
                            </li>
                        
                </ol>
                <h4 style="color: rgb(0, 75, 161);">User Account</h4>

                <ol>
                    Upon completing the application form and making the payment, the course will be activated for students. To activate their user account, students must submit the following documents:
<li>Aadhar Card or any other valid identity proof</li>
<li>PAN Card.</li>
<li>Degree Certificate.</li>
<li>MCI Certificate (for fellowship).</li>
Within 24 hours of submission, an email containing the user credentials will be sent to the registered email address.
<br> Please be aware that even if you have registered under the Do Not Disturb (DND), Do Not Call (DNC), or National Customer Preference Register (NCPR) service, you authorize us to contact you throughout the course duration and until the certificate is issued.
                </ol>
                <h4 style="color: rgb(0, 75, 161);">Course Access</h4>

                <ol>
                    <b>Service Interruptions:</b>
                    <br>
                    While we strive to provide uninterrupted service, there may be instances beyond our control that result in interruptions, such as power outages, server downtime, software issues, regular maintenance, programming errors, and unforeseeable glitches or content updates. In the event of an interruption caused by our end, students will receive a free extension for the course, the length of which will be determined by the duration of the interruption. <br><br>   
                    <b>Content and Course Updates:</b>
                    <br>
                    To ensure high-quality online study materials, we reserve the right to change or revise content, curriculum, and courses without prior notice. <br><br>
                    <b>Completion and Certification:</b>
                    <br>
                    Please note that we cannot guarantee course completion or certification once the access period has ended. It is the student's responsibility to complete the course within the designated timeframe. If a student is unable to do so, reactivation or extension charges (10% of the course fee) will apply for any extensions. Reactivation will be granted for one month, with a maximum of three reactivations allowed. <br><br>
                    <b>Account Suspension:</b>
                    <br>
                    If a student fails to log in within 30 days of course activation or if subsequent  installments are pending, the account will be suspended, and reactivation charges will be applicable. <br><br>
                    <b>Attendance at Contact Programs:</b>
                    <br>
                    Students will only be allowed to attend contact programs after fulfilling the payment of fees, internal exams, and any criteria set by course faculty or coordinators. <br><br>
                    <b>False Information and Forged Documents:</b>
                    <br>
                    In the case of false information or submission of forged documents, admission will be canceled, and we will not be liable for any refund of fees. <br><br>
                </ol>
                <h4 style="color: rgb(0, 75, 161);">Payment Policy</h4>

                <ol>
                    <b>Pricing and Payment</b>
                    <br>
                    At GlobalMED Academy, we partner with third-party payment processors to provide secure and convenient payment options. We accept payments in different currencies, but please note that students are responsible for any conversion charges and taxes. Access to the course will only be granted upon successful payment confirmation.
                    
                    <li>For cash payments, students must provide their PAN and Aadhar card. </li>
                    <li>NEFT payments must be made to the account given by us </li>
                    <li>Cheques or demand drafts should be made payable to “Anvik Value Chain Private Limited” and students should write their name, address, and phone number on the reverse side of the cheque or demand draft.</li>
                    <li>Account details for NEFT payments are as follows: </li>
                    <br>

                   <b> Company Name - Anvik Value Chain Private Limited <br>
                    Account number - 639005004742 <br>
                    IFSC CODE - ICICO006390 <br>
                    Account type - Current Account <br>
                    <br>
                    <br>
                    </b>
                    By purchasing our products or services, you agree to provide payment in the specified currency and are responsible for any conversion charges and applicable sales tax in your region. Please note that we require full payment before granting you access to our products or services.
                    
                    <br>
                    <br>
                    •	If a cheque is returned, an additional charge of INR 1000/- will be assessed. <br>
                    •	If payment is received more than 10 days after the due date, a late payment penalty of 2% of the course fee will be applied.
                    <br>
                    <br>
                    When a customer approves the E-mandate or e-NACH through our Finance partners, it creates a binding contract with GlobalMED Academy and imposes a liability on the customer to pay EMIs to the finance partner.
                    <br>
                    <br>
                    Access to the course will be granted once the necessary documents required for loan processing with the Finance partner/ GlobalMED Academy have been submitted and the e-mandate has been approved.
                    
                    
                </ol>
                <h4 style="color: rgb(0, 75, 161);">Refund Policy</h4>
                    <ol>
                        <b>Cancellation and refund:</b>
<br>
You have the option to cancel your purchase within fourteen (14) calendar days from the date of purchase, provided that you have not accessed or downloaded any materials. To initiate a cancellation, please contact us via email at support@globalmedacademy.com
<br>
<br>
Please note that after the 14-day free look period from the date of login credentials issuance, fees paid will not be refunded. Additionally, we do not accommodate fee transfers to another person under any circumstances. If you wish to change your course within the first 3 weeks of enrollment, we can accommodate the request. However, beyond 3 weeks, the amount paid will not be adjusted or refunded. <br>
<br><b>Document Submission:</b>
<br>
Students must submit their documents before the start of course activation.
<br>
<br><b>Ineligibility and Course Deactivation:</b>
<br>
If, after document submission, it is determined that a student is ineligible for the course, the course will be deactivated, and fees paid will not be refunded.
<br>
<br><b>Conditional Admission:</b>
<br>
For medical courses, if a student's degree certificate or MCI recognition is expected within six months, or within the course duration for non-medical courses, they may complete the admission process by obtaining a conditional admission letter. Refunds will not be available if the student is unable to submit their documents before downloading the certificates. <br>
<br>
<b>Matching Application and Document Details:</b>
A refund will not be possible if the details provided in the application form and the documents do not match. <br>
<br>
<b>Non-Applicability of Refund Policy:</b>
<br>
The refund policy does not apply to courses accredited by partner universities. The decision will be made on case-by-case basis in conjunction with partner university refund policy. <br>
<br>
<b>Refunds for Duplicate Payments:</b> 
<br>
Refunds for duplicate payments will be processed via the original method of payment within five to seven working days after the customer's notification. <br>
<br>
<b>Refund Processing Time:</b>
<br>
Please note that all refunds will be processed within 30 working days of receiving the refund request. <br>
<br>
<b>Loan Case Cancellations:</b>
<br>
• The processing fee for loan cases will not be refunded in case of cancellations, and 12% of the course fee, along with NBFC charges, will be charged for any loan case cancellations. <br>
•	The processing fee for loan cases will not be refunded in case of cancellations, and 12% of the course fee, along with NBFC charges, will be charged for any loan case cancellations. <br>


    </ol>
    <h4 style="color: rgb(0, 75, 161);">Accredition Partnership</h4>
                <ol>
                   <br> •	GlobalMED Academy collaborates with Indian and International universities, colleges, associations, and medical institutes as an education service provider. However, it is important to understand that GlobalMED Academy itself is not a university, college, or medical institute, and it does not offer any approval from the MCI (Medical Council of India).
<br><br>•	It should be noted that the programs offered by GlobalMED Academy are designed to provide upskilling opportunities and valuable learning experiences. However, they do not grant formal educational degrees. Accreditation for the programs is determined by the partner institutes, and it is subject to meeting their specific conditions and requirements.

                </ol>
                <h4 style="color: rgb(0, 75, 161);">Examination Policy</h4>
                <ol>
                    <b>Course Assessments:</b>

                    Our courses require students to complete online assessments within the specified course duration. These assessments are in multiple-choice question (MCQ) format. A minimum score of 50% is required to pass the assessments and a maximum of 3 attempts will be allowed to complete the “Final Assessment” for each course. For courses with contact programs or clinical observerships, additional assessment will be done by the course faculty at the partner hospital and the candidate has to obtain a completion certificate from the partner hospital to get final certification from GlobalMED Academy.
                    <br><br>
                    <b>Attempt Limits:</b>  
                    
                    For the final assessment, students are allowed a maximum of three attempts. However, there is no limit on the number of attempts for module assessments.
                    <br><br>
                           <b>Certificate Delivery:</b> 
                    
                    Upon successful completion of the course, we provide framed physical copies of the certificate. To be eligible for the framed certificate, students must provide their delivery address in the Learning Management System (LMS) or contact us via email at support@globalmedacademy.com. This ensures that we can support the delivery process accordingly.
                    
                    
                </ol>
                <h4 style="color: rgb(0, 75, 161);">Limitation of Liability</h4>
                <ol>
                    <b>Disclaimer:</b> GlobalMED Academy provides its services on an "as-is" and "as-available" basis, without any warranties or representations, whether express or implied. The platform does not guarantee the accuracy, completeness, or reliability of any content or materials.

<br>                    <b>Indemnification:</b> You agree to indemnify and hold harmless GlobalMED Academy, its affiliates, and their respective directors, officers, employees, and agents from any claims, damages, or liabilities arising out of your use of the platform or violation of these terms and conditions.
<br>
<i>Modification and Termination</i>
<br>
<b>Modification:</b> GlobalMED Academy reserves the right to modify, suspend, or discontinue any aspect of the platform at any time, including these terms and conditions. Changes will be effective immediately upon posting on the website.
<br><b>Termination:</b> GlobalMED Academy may, at its sole discretion, terminate or suspend your access to the platform without prior notice if you violate any provision of these terms and conditions.

                </ol>
                <h4 style="color: rgb(0, 75, 161);">Governing Law and Jurisdiction</h4>
                <ol>These terms and conditions shall be governed by and construed in accordance with the laws of India. Any disputes arising out of or in connection with these terms shall be subject to the exclusive jurisdiction of the courts of Maharashtra, India.</ol>
               <h4 style="color: rgb(0, 75, 161);">Privacy Policy</h4>
            <ol>
                GlobalMED Academy is committed to protecting your privacy. This privacy policy explains how we collect, use, and safeguard your personal information when you use the GlobalMED Academy platform. By using the platform, you consent to the practices described in this policy.
<br><br>
<b>Information Collection</b>
<br><br>
a. Personal Information: <br> When you create an account or interact with the platform, we may collect personal information such as your name, email address, contact information, and professional details.
<br><br>b. Usage Data: <br>We may collect non-personal information about your use of the platform, including your IP address, browser type, device information, and website analytics data.
<br><br>c. Cookies and Tracking Technologies: <br> We may use cookies and similar tracking technologies to enhance your experience on the platform and collect information about how you use the website.
<br><br>
<b>Use of Information</b>
<br>
<br>a. Personalization and Communication: <br> We use your information to personalize your experience, provide the services you request, and communicate with you about the platform, courses, and relevant updates.
<br><br>b. Analytics and Improvement: <br>We analyze usage data to improve the platform, identify trends, and enhance user experience.
<br><br>c. Legal Compliance: <br>We may use your information to comply with applicable laws, regulations, and legal processes.
<br><br>
<b>Information Sharing</b>
<br><br>
a. Service Providers: <br> We may engage third-party service providers to perform functions on our behalf, such as hosting, data analysis, and customer support. These providers have access to your personal information only as necessary to perform their functions and are bound by confidentiality obligations.
<br><br>b. Aggregated Data: <br>We may aggregate and anonymize your information for statistical and analytical purposes, which does not personally identify you, and share it with third parties.
<br><br>
<b>Data Security</b>

<br>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.
<br><br>
<b>Third-Party Links</b>  
<br>  
The platform may contain links to third-party websites or services. We are not responsible for the privacy practices or content of those websites. We encourage you to review the privacy policies of those third parties before providing any personal information.
<br><br>
<b>Children's Privacy</b>
<br>
GlobalMED Academy is not intended for individuals under the age of 18. We do not knowingly collect personal information from children. If we become aware that the personal information of a child under 18 has been provided to us, we will take steps to delete such information.
<br><br>
<b>Updates to the Privacy Policy</b>
<br>
We reserve the right to update or modify this privacy policy at any time. Any changes will be effective immediately upon posting on the platform. It is your responsibility to review this policy periodically for updates.

            </ol>
            <h4 style="color: rgb(0, 75, 161);">Contact Us</h4>
            <ol>This version of the Terms and Conditions and Privacy Policy is effective as of 12-July-2023. You can contact our Support team at support@GlobalMedAcademy.com for any assistance or queries. We always look forward to hearing from you.
<br> <br>
                We reserve the right to update or modify these Terms and Conditions at any time without prior notice. Any changes or modifications will be effective immediately upon posting on the GlobalMED Academy website. It is your responsibility to review these terms periodically for any updates or modifications. Your continued use of the platform after any changes or modifications constitutes your acceptance of the revised terms.
                </ol>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a href="#">
                    <img src="assets/images/instagram/instagram-01.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>

                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a href="#">
                    <img src="assets/images/instagram/instagram-02.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a href="#">
                    <img src="assets/images/instagram/instagram-03.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                   
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a href="#">
                    <img src="assets/images/instagram/instagram-04.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    <
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a href="#">
                    <img src="assets/images/instagram/instagram-05.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                    
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <div class="instagram-grid">
                <a href="#">
                    <img src="assets/images/instagram/instagram-06.jpg" alt="instagram">
                    <span class="user-info">
                    <span class="icon"><i class="icon-instagram"></i></span>
                   
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
    <%-include('footer');-%>