<% if (isUserLoggedIn) { %>
    <!-- Include auth_header -->
    <%- include('auth_header') %>
        <% } else { %>
            <!-- Include regular header -->
            <%- include('header') %>
                <% } %>
                    <div class="rbt-breadcrumb-default rbt-breadcrumb-style-3">
                        <div class="breadcrumb-inner">
                            <img src="/assets/images/bg/bg-image-10.jpg" alt="Education Images">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="content text-start">
                                        <ul class="page-list">
                                            <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                                            <li>
                                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                                            </li>
                                            <li class="rbt-breadcrumb-item active">Courses</li>
                                        </ul>
                                        <h2 class="title">Care Certificate</h2>
                                        <p class="description">
                                            Care is a fundamental concept in the healthcare sector, encompassing the
                                            delivery of services and treatments aimed at promoting the physical, mental,
                                            and emotional well-being of patients. The Care Certificate online medical
                                            course is designed to equip health and care support professionals with a
                                            comprehensive understanding of care standards.
                                            <br><br>
                                            By adhering to the principles outlined in the Care Certificate, support
                                            workers can ensure consistency in their introductory skills, knowledge, and
                                            behaviors. This framework fosters compassionate, safe, and high-quality care
                                            delivery across various workplace settings. Ultimately, the Care Certificate
                                            serves as a guide for support professionals to provide exemplary care that
                                            meets the diverse needs of patients while upholding the highest standards of
                                            professionalism and ethics.
                                        </p>

                                        <div
                                            class="d-flex align-items-center mb--20 flex-wrap rbt-course-details-feature">

                                            <div class="feature-sin best-seller-badge">
                                                <span class="rbt-badge-2">
                                                    <span class="image"><img src="/assets/images/icons/card-icon-1.png"
                                                            alt="Best Seller Icon"></span> Bestseller
                                                </span>
                                            </div>
                                        </div>
                                        <ul class="rbt-meta">
                                            <li><i class="feather-globe"></i>English</li>
                                            <li><i class="feather-award"></i>Certified Course</li>
                                            <li>
                                                <div class="rbt-author-meta mb--10">
                                                    <div class="rbt-avater">
                                                        <a href="#">

                                                            <img src="/assets/images/MedicollLogos/ObsandGynlogos/HEE_logo.jpg"
                                                                alt="NHS England">
                                                        </a>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Breadcrumb Area -->

                    <div class="rbt-course-details-area ptb--60">
                        <div class="container">
                            <div class="row g-5">

                                <div class="col-lg-8">
                                    <div class="course-details-content">
                                        <div class="rbt-inner-onepage-navigation sticky-top mt--30">
                                            <nav class="mainmenu-nav onepagenav">
                                                <ul class="mainmenu">
                                                    <li class="current">
                                                        <a href="#overview">Overview</a>
                                                    </li>
                                                    <li>
                                                        <a href="#coursecontent">Course Content</a>
                                                    </li>
                                                    <li>
                                                        <a href="#details">Requirements</a>
                                                    </li>
                                                    <li>
                                                        <a href="#intructor">Instructor</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <!-- Start Course Content  -->
                                        <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30"
                                            id="coursecontent">
                                            <div class="rbt-course-feature-inner">
                                                <div class="section-title">
                                                    <h4 class="rbt-title-style-3">Course Content</h4>
                                                </div>
                                                <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                                    <div class="accordion" id="accordionExampleb2">
                                                        Modules include-:
                                                        <br>
                                                        <ul>
                                                            <li>Personal development and understanding your role</li>
                                                            <li> Duty of care</li>
                                                            <li>Equality and diversity</li>
                                                            <li>Communication</li>
                                                            <li>Privacy and dignity</li>
                                                            <li>Safeguarding (children & adults)</li>
                                                            <li>Health & safety</li>
                                                            <li>Basic life support</li>
                                                            <li> Infection prevention & control</li>
                                                            <li>Handling information</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Course Content  -->

                                        <!-- Start Course Feature Box  -->
                                       
                                         
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div
                                        class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border">
                                        <div class="inner">
                                            <!-- Triggering Element -->
                                            <!-- Triggering Element -->
                                            <!-- Triggering Element -->
                                            <div class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15"
                                                id="videoTrigger">
                                                <div class="video-content">
                                                    <img class="w-100 rbt-radius"
                                                        src="/assets/images/others/video-01.jpg" alt="Video Images">
                                                   
                                                </div>
                                            </div>


                                            <!-- End Viedo Wrapper  -->

                                            <div class="content-item-content">
                                                <div
                                                    class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                                    <div class="rbt-price">
                                                        <span class="current-price">Rs. 6,000</span>

                                                    </div>

                                                </div>
                                                <div class="buy-now-btn mt--15">
                                                    <form action="/checkout/64b977cffa47d3d1072b49b8" method="get">

                                                        <button type="submit">Pay Now</button>
                                                    </form>
                                                </div>

                                                <span class="subtitle"><i class="feather-rotate-ccw"></i> 30-Day
                                                    Money-Back
                                                    Guarantee</span>


                                                <div class="rbt-widget-details has-show-more">
                                                    <ul
                                                        class="has-show-more-inner-content rbt-course-details-list-wrapper">
                                                        <li><span>Start Date</span><span
                                                                class="rbt-feature-value rbt-badge-5">15 Mar,
                                                                2024</span>
                                                        </li>
                                                        <!-- <li><span>Enrolled</span><span
                                                                class="rbt-feature-value rbt-badge-5">100</span>
                                                        </li>
                                                        <li><span>Lectures</span><span
                                                                class="rbt-feature-value rbt-badge-5">50</span>
                                                        </li> -->
                                                        <!-- <li><span>Skill Level</span><span
                                            class="rbt-feature-value rbt-badge-5">Basic</span></li>
                                    <li><span>Language</span><span
                                            class="rbt-feature-value rbt-badge-5">English</span></li>
                                    <li><span>Quizzes</span><span class="rbt-feature-value rbt-badge-5">10</span>
                                    </li>
                                    <li><span>Certificate</span><span
                                            class="rbt-feature-value rbt-badge-5">Yes</span></li>
                                    <li><span>Pass Percentage</span><span
                                            class="rbt-feature-value rbt-badge-5">95%</span></li> -->
                                                    </ul>
                                                    <div class="rbt-show-more-btn">Show More</div>
                                                </div>

                                                <div class="social-share-wrapper mt--30 text-center">
                                                    <div
                                                        class="rbt-post-share d-flex align-items-center justify-content-center">
                                                        <ul
                                                            class="social-icon social-default transparent-with-border justify-content-center">
                                                            <li><a
                                                                    href="https://www.facebook.com/globalmedacademyindia">
                                                                    <i class="feather-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li><a href="https://twitter.com/GMEdAcademy">
                                                                    <i class="feather-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li><a href="https://www.instagram.com/globalmedacadmey/"">
                                                                    <i class=" feather-instagram"></i>
                                                                </a>
                                                            </li>
                                                            <li><a
                                                                    href="https://www.linkedin.com/company/globalmedacademy">
                                                                    <i class="feather-linkedin"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <hr class="mt--20">

                                                    <!-- <div class="contact-with-us text-center">
                                                        <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i
                                                                class="feather-download"></i><a
                                                                href="https://brochuresgma.blr1.digitaloceanspaces.com/Fellowship%20in%20Diabetes%20management_Jan2024.pdf"><strong>Course
                                                                    Brochure</strong></a></p>
                                                    </div>
                                                    <br>
                                                    <div class="contact-with-us text-center">

                                                        <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i
                                                                class="feather-download"></i><a href="#"><strong>Sample
                                                                    Certificate</strong></a></p>
                                                    </div>
                                                    <div class="contact-with-us text-center">
                                                        <p>For details about the course</p>
                                                        <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i
                                                                class="feather-phone mr--5"></i> Call Us: <a
                                                                href="#"><strong>+91 97300 20462</strong></a></p>
                                                    </div>
                                                    <br> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rbt-separator-mid">
                        <div class="container">
                            <hr class="rbt-separator m-0">
                        </div>
                    </div>

                    <!-- Start Course Action Bottom  -->
                    <div class="rbt-course-action-bottom">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6">
                                    <div class="section-title text-center text-md-start">
                                        <h5 class="title mb--0">Care Certificate</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mt_sm--15">
                                    <div class="course-action-bottom-right rbt-single-group">
                                        <div class="rbt-single-list rbt-price large-size justify-content-center">
                                            <span class="current-price color-primary">Rs 6,000</span>

                                        </div>
                                        <!-- <div class="rbt-single-list action-btn">
                                            <a class="rbt-btn btn-gradient hover-icon-reverse btn-md" href="#">
                                                <span class="icon-reverse-wrapper">
                                                    <span class="btn-text">Purchase Now</span>
                                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Accordion Area  -->
                    <div
                        class="rbt-accordion-area accordion-style-1 rbt-accordion-color-white bg-color-darker rbt-section-gapBottom pt--60 pt_sm--0 overflow-hidden position-relative top-circle-shape-top overlpping-call-to-action">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-8 offset-lg-2 col-sm-12">

                                    <div class="section-title text-center pb--60">
                                        <div class="client-group-image">
                                            <img src="/assets/images/splash/icons/group-image.png" alt="group image"
                                                class="mb--30">
                                        </div>
                                        <span class="subtitle bg-secondary-opacity">Check out our FAQ section to see if
                                            we can
                                            help.</span>
                                        <h2 class="title mb_sm--0 text-center color-white-off">Do you have any
                                            questions?</h2>
                                    </div>
                                    <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                        <div class="accordion" id="accordionExamplea1">
                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingOne">
                                                    <button class="accordion-button" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        What is eligibility criteria for the courses?
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        Physicians with MBBS with valid MCI registration or final year
                                                        MBBS students are eligible to join all programs. However, some
                                                        certificate programs are available to Ayush and BDS graduates as
                                                        well; please refer to icons and eligibility. All international
                                                        students are eligible for certificate and advance certificate
                                                        programs
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        How can I enroll in this course?
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        Visit the course page and click on the "Join Now" icon to
                                                        initiate the enrollment process. Follow the instructions
                                                        provided to complete the payment process and secure your spot in
                                                        the program. Alternatively, you can get in touch with us. Please
                                                        reach out to our support team at
                                                        <a
                                                            href="mailto:support@globalmedacademy.com">support@globalmedacademy.com</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        How is course delivered?
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        GlobalMed Academy provides a flexible learning experience with a
                                                        combination of self-paced topics and live lectures. To access
                                                        the course materials, simply log in to our Learning Management
                                                        System (LMS). Once logged in, you will be guided through the
                                                        process and given access to the relevant resources, including
                                                        self-paced modules and information about upcoming live lectures.
                                                        Enjoy the convenience of learning at your own pace while also
                                                        benefiting from interactive live sessions
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingFour">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                        How does "Clinical Observership Program" work?
                                                    </button>
                                                </h2>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        GlobalMed Academy's clinical observership is an integral
                                                        component of our fellowship program. It provides valuable
                                                        hands-on experience in a hospital environment under a senior
                                                        doctor, allowing students to actively participate in patient
                                                        care decision-making, gain proficiency in utilizing medical
                                                        equipment, and observe experienced doctors performing various
                                                        procedures
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingFive">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">
                                                        How does GlobalMed Academy assestment works?
                                                    </button>
                                                </h2>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        Here are the key assessments and guidelines for the GlobalMed
                                                        Academy program:
                                                        <br>1.Flexible online quiz will be conducted after each module
                                                        that helps the students in self-evaluation and improvement upon
                                                        completion of all modules.
                                                        <br>2.Flexible online examination will be conducted after each
                                                        course for self-assessment. To pass the assessment, students
                                                        must achieve a minimum score of 50%. This ensures a satisfactory
                                                        level of understanding and proficiency in the subject matter
                                                        <br>3.Fellowship students must complete all quizzes, online
                                                        exams, and viva before going for clinical observerships.
                                                        <br>4.To receive the final certification from GlobalMed Academy,
                                                        students participating in clinical observerships must
                                                        successfully complete the observership according to the
                                                        guidelines set by the hospital. Once the observership is
                                                        completed, students are required to share the certificate of
                                                        completion with GlobalMed Academy as proof, enabling the
                                                        issuance of the final certification.Upon successful completion
                                                        of all requirements, GlobalMed Academy will award a certificate.
                                                        <br>5.Three attempts are allowed for each online exam without
                                                        charges. Additional attempts will incur examination fees.

                                                        <br>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingSix">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false" aria-controls="collapseSix">
                                                        What are the accreditations and recognition of course?
                                                    </button>
                                                </h2>
                                                <div id="collapseSix" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        GlobalMed Academy provides multiple accreditations for each
                                                        course, which are clearly mentioned in the brochure. However,
                                                        it's important to note that GlobalMed Academy does not offer
                                                        certificates that allow healthcare professionals to claim
                                                        specialist titles such as diabetologist or cardiologist. The
                                                        program aims to provide clinical knowledge and insights into
                                                        global trends in specific topics, enhancing the quality of
                                                        patient care. It is not a substitute for formal medical
                                                        education but rather supports continuous learning for healthcare
                                                        professionals. Please be aware that courses offered by
                                                        e-learning platforms like GlobalMed Academy are not recognized
                                                        by the National Medical Council or any other state medical
                                                        council.

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingSeven">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                        aria-expanded="false" aria-controls="collapseSeven">
                                                        What are minimum system requirements to access the course?
                                                    </button>
                                                </h2>
                                                <div id="collapseSeven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        <p>Our courses are accessible on Windows 7.0 or above and Mac OS
                                                            X10.15 and above, using any web browser, with a minimum
                                                            requirement of 1 GB RAM. For optimal performance, we
                                                            recommend a minimum internet connection speed of 10 Mbps and
                                                            a RAM capacity of 2 GB
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingEight">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                        aria-expanded="false" aria-controls="collapseEight">
                                                        What kind of certificate I will get?
                                                    </button>
                                                </h2>
                                                <div id="collapseEight" class="accordion-collapse collapse"
                                                    aria-labelledby="headingEight" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        <p>Upon completion of the course, an electronic certificate with
                                                            the unique enrollment ID will be sent to the registered
                                                            email address within 24 hours. Additionally, if requested,
                                                            we can also send a framed certificate to the provided
                                                            physical address for a tangible recognition of achievement.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingNine">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                                        aria-expanded="false" aria-controls="collapseNine">
                                                        Is the placement support provided?
                                                    </button>
                                                </h2>
                                                <div id="collapseNine" class="accordion-collapse collapse"
                                                    aria-labelledby="headingNine" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        <p>While GlobalMed Academy does not offer a placement guarantee,
                                                            we have partnerships with various hospitals that often
                                                            require qualified professionals. Job postings from these
                                                            partner hospitals will be made available on our Learning
                                                            Management System (LMS), providing students with
                                                            opportunities to connect with the right healthcare
                                                            institutions. In addition, we offer a career guidance
                                                            lecture designed to assist students in making informed
                                                            decisions and navigating their career paths successfully</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingTen">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                        aria-expanded="false" aria-controls="collapseTen">
                                                        Can I cancel my course enrollment before completion?
                                                    </button>
                                                </h2>

                                                <div id="collapseTen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTen" data-bs-parent="#accordionExamplea1">
                                                    <div class="accordion-body card-body">
                                                        <p>We offer a free cancellation policy that allows for a full
                                                            refund within 7 days of enrollment if you are not satisfied
                                                            with the course curriculum or content. However, please note
                                                            that refunds will not be permitted after this 7-day period
                                                            has elapsed.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course Action Bottom  -->
                    <div class="rbt-separator-mid">
                        <div class="container">
                            <hr class="rbt-separator m-0">
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="/assets/images/instagram/instagram-01.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="/assets/images/instagram/instagram-02.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="/assets/images/instagram/instagram-03.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="/assets/images/instagram/instagram-04.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="/assets/images/instagram/instagram-05.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                                <div class="instagram-grid">
                                    <a>
                                        <img src="/assets/images/instagram/instagram-06.jpg" alt="instagram">
                                        <span class="user-info">
                                            <span class="icon"><i class="icon-instagram"></i></span>

                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const videoTrigger = document.getElementById('videoTrigger');
                            const videoPlayer = document.getElementById('videoPlayer');
                            const videoImage = videoTrigger.querySelector('img');
                            const playIcon = videoTrigger.querySelector('.play-icon');
                            const previewText = videoTrigger.querySelector('.play-view-text');

                            videoTrigger.addEventListener('click', function () {
                                if (videoPlayer.style.display === 'none' || videoPlayer.style.display === '') {
                                    videoImage.classList.add('hidden');
                                    playIcon.parentNode.classList.add('hidden');
                                    previewText.classList.add('hidden');
                                    videoPlayer.style.display = 'block';
                                    videoPlayer.play();
                                    videoTrigger.classList.add('no-background'); // Add no-background class
                                } else {
                                    videoImage.classList.remove('hidden');
                                    playIcon.parentNode.classList.remove('hidden');
                                    previewText.classList.remove('hidden');
                                    videoPlayer.style.display = 'none';
                                    videoPlayer.pause();
                                    videoPlayer.currentTime = 0;
                                    videoTrigger.classList.remove('no-background'); // Remove no-background class
                                }
                            });
                        });


                    </script>

                    <%- include('../footer'); -%>